//************** postulacion empleobusco **************//
extends ./layout.jade
block content
    - rutaImagenes ='../../../imagenes'
    div(class="contenedor-postulacion-emepleobusco")
        div(class="postulacion-title") Mis Postulaciones
        div(class="postulacion-subtitle").
            Tu detalle de postulaciones está disponible con una antiguedad de 2 años o 100 últimas postulaciones
        div(class="row smb cont-row-post")
            div(class="descr-puesto-title") Programador.net
            div(class="rwo smb cont-block-description")
                    div(class="block-postulante col-xs-6 col-sm-4 col-md-4 spb")
                        div(class="content-block-postulante")
                            span(class="bold") Postulantes: 
                            span(class="number-postulante") 6
                    span(class="block-tiempo col-xs-6 col-sm-4 col-md-4 spb")
                        span(class="bold") Tiempo:
                        span hace 13 días
                    div(class="block-acciones col-xs-12 col-sm-4 col-md-4 spb")
                        a(href="#" title="Ver aviso")
                            i(class="icon-acciones fa fa-external-link-square" aria-hidden="true")
                        a(href="#" title="Retirarme de esta postulación")
                            i(class="icon-acciones fa fa-times" aria-hidden="true")
            div(class="descr-puesto-cont col-xs-3 col-sm-2 col-md-2 spb")                
                div(class="content-table-cell")
                    div(class="content-table-cell-interno")
                        div(class="cont-img-empersa")
                            img(class="img-empresa" src="https://gcdn.emol.cl/comics/files/2014/11/Valenciacf.svg_.png")
            div(class="block-description col-xs-9 col-sm-10 col-md-10 spb")
                div(class="row contenedor-linea-tiempo smb")
                    div(class="content-time-line")
                        div(class="time-line")
                    div(class="contenedor-paso-line")
                        span(class="text-paso") Postulación
                        div(class="check-paso")
                            i(class="fa fa-check icon-check-postulaciones" aria-hidden="true")
                        span(class="text-fecha") 05 Ago
                    div(class="contenedor-paso-line contenedor-paso-line-2")
                        span(class="text-paso") Postulación
                        div(class="check-paso")
                            i(class="fa fa-check icon-check-postulaciones" aria-hidden="true")
                        span(class="text-fecha") 05 Ago
                    div(class="contenedor-paso-line contenedor-paso-line-3")
                        span(class="text-paso") Postulación
                        div(class="check-paso")
                            i(class="fa fa-check icon-check-postulaciones" aria-hidden="true")
                        span(class="text-fecha") 05 Ago
                    div(class="contenedor-paso-line contenedor-paso-line-4")
                        span(class="text-paso") Postulación
                        div(class="check-paso")
                            i(class="fa fa-check icon-check-postulaciones" aria-hidden="true")
                        span(class="text-fecha") 05 Ago
                    div(class="contenedor-paso-line contenedor-paso-line-5")
                        span(class="text-paso") Postulación
                        div(class="check-paso")
                            i(class="fa fa-check icon-check-postulaciones" aria-hidden="true")
                        span(class="text-fecha") 05 Ago
        div(class="row smb cont-row-post")
            div(class="descr-puesto-title") Programador.net
            div(class="rwo smb cont-block-description")
                    div(class="block-postulante col-xs-6 col-sm-4 col-md-4 spb")
                        div(class="content-block-postulante")
                            span(class="bold") Postulantes: 
                            span(class="number-postulante") 6
                    span(class="block-tiempo col-xs-6 col-sm-4 col-md-4 spb")
                        span(class="bold") Tiempo:
                        span hace 13 días
                    div(class="block-acciones col-xs-12 col-sm-4 col-md-4 spb")
                        a(href="#" title="Ver aviso")
                            i(class="icon-acciones fa fa-external-link-square" aria-hidden="true")
                        a(href="#" title="Retirarme de esta postulación")
                            i(class="icon-acciones fa fa-times" aria-hidden="true")
            div(class="descr-puesto-cont col-xs-3 col-sm-2 col-md-2 spb")                
                div(class="content-table-cell")
                    div(class="content-table-cell-interno")
                        div(class="cont-img-empersa")
                            img(class="img-empresa" src="https://gcdn.emol.cl/comics/files/2014/11/Valenciacf.svg_.png")
            div(class="block-description col-xs-9 col-sm-10 col-md-10 spb")
                div(class="row contenedor-linea-tiempo smb")
                    div(class="content-time-line")
                        div(class="time-line")
                    div(class="contenedor-paso-line")
                        span(class="text-paso") Postulación
                        div(class="check-paso")
                            i(class="fa fa-check icon-check-postulaciones" aria-hidden="true")
                        span(class="text-fecha") 05 Ago
                    div(class="contenedor-paso-line contenedor-paso-line-2")
                        span(class="text-paso") Postulación
                        div(class="check-paso")
                            i(class="fa fa-check icon-check-postulaciones" aria-hidden="true")
                        span(class="text-fecha") 05 Ago
                    div(class="contenedor-paso-line contenedor-paso-line-3")
                        span(class="text-paso") Postulación
                        div(class="check-paso")
                            i(class="fa fa-check icon-check-postulaciones" aria-hidden="true")
                        span(class="text-fecha") 05 Ago
                    div(class="contenedor-paso-line contenedor-paso-line-4")
                        span(class="text-paso") Postulación
                        div(class="check-paso")
                            i(class="fa fa-check icon-check-postulaciones" aria-hidden="true")
                        span(class="text-fecha") 05 Ago
                    div(class="contenedor-paso-line contenedor-paso-line-5")
                        span(class="text-paso") Postulación
                        div(class="check-paso")
                            i(class="fa fa-check icon-check-postulaciones" aria-hidden="true")
                        span(class="text-fecha") 05 Ago
//************** postulacion empleobusco **************//
