//************** publicidad ePass **************//
extends ./layout.jade
block content
    - rutaImagenes ='../../../imagenes'
    div(class="publicidadEpass")
        div(class="publicidadEpass-Texto").
            Si ya cuentas con el TAG de e-pass, que esperas!!!!
        div(class="publicidadEpass-Button")
            a(href="#")
                span Recarga Aquí
                i(class="fa fa-angle-right")
//************** publicidad ePass **************//
