//************** slider todobusco **************//
extends ./layout.jade
block content
    - rutaImagenes ='../../../imagenes'
    div(class="container-btn-green") Lo mejor de lo mejor
    div(class="contenedor-slider-todobusco")
        div(id="slider_3_demo")
          div(class="arrow-prev")
            i(class="fa fa-caret-left" aria-hidden="true")
          div(class="arrow-next")
            i(class="fa fa-caret-right" aria-hidden="true")
          div(class="container")
            div(class="row")
              div(class="span12")
                div(id="owl-slider_3" class="owl-carousel")
                    a(href="#" class="item item-gallitoB")
                        div(class="cuadro-todobusco-slider-casabusco")
                            img(class="imagen-slider-empresa lazyOwl" src="http://dev.todobusco.com/img/todobusco/home/casa_imagen.svg")
                            img(class="icon-todobusco-slider" src="http://dev.todobusco.com/img/todobusco/home/icono-casabusco.svg")
                            div(class="bl-slider")
                            div(class="br-slider")               
                        div(class="")
                            div(class="title-slider-todobusco") Lorem Impsum
                            div(class="text-slider-todobusco").
                                Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.
                            div(class="precio-slider") $ 400.00
                    a(href="#" class="item item-gallitoB")
                        div(class="cuadro-todobusco-slider-casabusco borderojo-todobusco")
                            img(class="imagen-slider-empresa lazyOwl" src="http://dev.todobusco.com/img/todobusco/home/carro_imagen.svg")
                            img(class="icon-todobusco-slider" src="http://dev.todobusco.com/img/todobusco/home/icono-carrobusco.svg")
                            div(class="bl-slider br-slider-red")
                            div(class="br-slider br-slider-red")               
                        div(class="")
                            div(class="title-slider-todobusco") Lorem Impsum
                            div(class="text-slider-todobusco").
                                Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.
                            div(class="precio-slider") $ 400.00
                    a(href="#" class="item item-gallitoB")
                        div(class="cuadro-todobusco-slider-casabusco borde-azul-todobusco ")
                            img(class="imagen-slider-empresa lazyOwl" src="http://dev.todobusco.com/img/todobusco/home/periodico_imagen.svg")
                            img(class="icon-todobusco-slider" src="http://dev.todobusco.com/img/todobusco/home/icono-empleobusco.svg")
                            div(class="bl-slider br-slider-azul")
                            div(class="br-slider br-slider-azul")               
                        div(class="")
                            div(class="title-slider-todobusco") Lorem Impsum
                            div(class="text-slider-todobusco").
                                Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.
                            div(class="precio-slider") $ 400.00
                    a(href="#" class="item item-gallitoB")
                        div(class="cuadro-todobusco-slider-casabusco borde-green-todobusco")
                            img(class="imagen-slider-empresa lazyOwl" src="http://dev.todobusco.com/img/todobusco/home/bicicleta_imagen.svg")
                            img(class="icon-todobusco-slider" src="http://dev.todobusco.com/img/todobusco/home/icono-ventabusco.svg")
                            div(class="bl-slider br-slider-green")
                            div(class="br-slider br-slider-green")               
                        div(class="")
                            div(class="title-slider-todobusco") Lorem Impsum
                            div(class="text-slider-todobusco").
                                Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.
                            div(class="precio-slider") $ 400.00
                    a(href="#" class="item item-gallitoB")
                        div(class="cuadro-todobusco-slider-casabusco")
                            img(class="imagen-slider-empresa lazyOwl" src="http://dev.todobusco.com/img/todobusco/home/casa_imagen.svg")
                            img(class="icon-todobusco-slider" src="http://dev.todobusco.com/img/todobusco/home/icono-casabusco.svg")
                            div(class="bl-slider")
                            div(class="br-slider")               
                        div(class="")
                            div(class="title-slider-todobusco") Lorem Impsum
                            div(class="text-slider-todobusco").
                                Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.
                            div(class="precio-slider") $ 400.00
//************** slider todobusco **************//
