//************** vinietas clickslogic **************//
extends ./layout.jade
block content
    - rutaImagenes ='../../../imagenes'
    div(class="contenedor-vinietas")
        div(class="contenedor-vinieta-individual col-xs-6 col-sm-6 col-md-6 paddingVinieta")
            div(class="vinieta-clickslogic")
                div(class="vin-bloque-izquierda")
                    div(class="contenedor-ico contenedor-ico-stadist")
                        i(class="fa fa-line-chart")
                    span() 0%
                div(class="vin-bloque-derecha") Índice de Transformación
        div(class="contenedor-vinieta-individual col-xs-6 col-sm-6 col-md-6 paddingVinieta")
            div(class="vinieta-clickslogic")
                div(class="vin-bloque-izquierda")
                    div(class="contenedor-ico contenedor-ico-stadist")
                        i(class="fa fa-line-chart")
                    span() 0%
                div(class="vin-bloque-derecha") Índice de Transformación
        div(class="contenedor-vinieta-individual col-xs-6 col-sm-6 col-md-6 paddingVinieta")
            div(class="vinieta-clickslogic")
                div(class="vin-bloque-izquierda")
                    div(class="contenedor-ico contenedor-ico-stadist")
                        i(class="fa fa-line-chart")
                    span() 0%
                div(class="vin-bloque-derecha") Índice de Transformación
        div(class="contenedor-vinieta-individual col-xs-6 col-sm-6 col-md-6 paddingVinieta")
            div(class="vinieta-clickslogic")
                div(class="vin-bloque-izquierda")
                    div(class="contenedor-ico contenedor-ico-stadist")
                        i(class="fa fa-line-chart")
                    span() 0%
                div(class="vin-bloque-derecha") Índice de Transformación
//************** vinietas clickslogic **************//
