//************** vinietas clickslogic **************//
.paddingVinieta
	padding 2px
.vinieta-clickslogic
	background #0097D9
	color white
.vin-bloque-izquierda,.vin-bloque-derecha
	display inline-block
	vertical-align top
.vin-bloque-izquierda
	width 32%
.vin-bloque-derecha
	width 65%
//************** vinietas clickslogic **************//
