//************** gota ePass **************//
extends ./layout.jade
block content
    - rutaImagenes ='../../../imagenes'
    div(class="gota-epas")
        div(class="gota-epas-titulo")
            span Personas
        div(class="gota-epas-img")
            div(class="gota-epas-btn")
                a(href="#")
                    span Ver Paquetes
                    i( class="fa fa-angle-right")
//************** gota ePass **************//
