//************** post gallitoB **************//
extends ./layout.jade
block content
    - rutaImagenes ='../../../imagenes'
    div(class="contenedor-post-gallito post-gallitoB-cont")
        div(class="row post-gallito-title smB")
            div(class="post-gallito-title-txt") Novedades
            div(class="post-gallito-title-borde")
        div(class="row smB")
            div(class="col-md-4 container-post-gallitoB")
                div(class="pad-to-gallitoB")
                    img(class="post-gallitoB-img" src="http://wallpapercave.com/wp/7SfJZBP.jpg")
                    div(class="post-gallitoB-description")
                        div(class="post-gallitoB-description-title") Más de 700 personas
                        div(class="post-gallitoB-description-text").
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                        a(class="seguirley" href="#") Seguir leyendo
            div(class="col-md-4 container-post-gallitoB bg-blue-light")
                div(class="pad-to-gallitoB")
                    img(class="post-gallitoB-img" src="http://wallpapercave.com/wp/7SfJZBP.jpg")
                    div(class="post-gallitoB-description")
                        div(class="post-gallitoB-description-title") Más de 700 personas
                        div(class="post-gallitoB-description-text").
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                        a(class="seguirley" href="#") Seguir leyendo
            div(class="col-md-4 container-post-gallitoB brn")
                div(class="pad-to-gallitoB")
                    img(class="post-gallitoB-img" src="http://wallpapercave.com/wp/7SfJZBP.jpg")
                    div(class="post-gallitoB-description")
                        div(class="post-gallitoB-description-title") Más de 700 personas
                        div(class="post-gallitoB-description-text").
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                        a(class="seguirley" href="#") Seguir leyendo
//************** post gallitoB **************//
