
/**********Beneficios asep**************/
rojo1=#ca272c
plomo1=#6b6767
verde1=#6fb253
morado2=#7f2c88
celeste0=#64a5dd
mostaza=#e8ae30
bordeVinieta=2px solid #ca272c
.Beneficios
	display flex
	border bordeVinieta
	margin-left 3em
	padding-left 4em
	position relative
	min-height 5.6em	
	&-Img img
		height 6em
		position absolute
		left -3em
		top -0.2em
		@media screen and (max-width: 400px)
			top 0.5em !important
		@media screen and (max-width: 350px)
			top 0.6em !important
	&-Descripcion
		padding-top 1em
		&-Nombre
			color rojo1
		&-Contenido
			color plomo1
			font-size 0.9em
			margin-top 0.5em
			@media screen and (max-width: 900px)
				font-size 0.7em
.Contenedor-Beneficios
	padding-top 0.5em
	padding-bottom 2em
	padding-right 1em
.bordeRojo
	border 2px solid rojo1
.letraRoja
	color rojo1
.bordeVerde
	border 2px solid verde1
.letraVerde
	color verde1
.bordeMorado
	border 2px solid morado2
.letraMorado
	color morado2
.bordeCeleste0
	border 2px solid celeste0
.letraCeleste0
	color celeste0
.bordeMostaza
	border 2px solid mostaza
.letraMostaza
	color mostaza
/**********Beneficios asep**************/