//************** contadores gallito **************//
extends ./layout.jade
block content
    - rutaImagenes ='../../../imagenes'
    div(class="row contendeor-contador-gallito sinMb")
        div(class="col-xs-4 col-sm-4 col-md-4 contenedor-cont")
            img(src="http://cds.dev.gallito.clickslatam.com/tg/imagenes/icon_Aviso.png" class="img-icon")
            div(class="contador-gallito-number") 10980
            div(class="contador-gallito-text") Avisos activos
        div(class="col-xs-4 col-sm-4 col-md-4 contenedor-cont")
            img(src="http://cds.dev.gallito.clickslatam.com/tg/imagenes/icon_postulantes.png" class="img-icon")
            div(class="contador-gallito-number") 2158
            div(class="contador-gallito-text") Postulantes
        div(class="col-xs-4 col-sm-4 col-md-4 contenedor-cont")
            img(src="http://cds.dev.gallito.clickslatam.com/tg/imagenes/icon_empresas.png" class="img-icon")
            div(class="contador-gallito-number") 180
            div(class="contador-gallito-text") Empresas
//************** contadores gallito **************// 
