//************** posit ePass **************//
extends ./layout.jade
block content
    - rutaImagenes ='../../../imagenes'
    div(class="posit-Epass-Container")
        div(class="posit-Epass-Consulta-Oculta")
            div
                i(class="fa fa-info-circle")
            div(class="letras-90deg") S
            div(class="letras-90deg") A
            div(class="letras-90deg") T
            div(class="letras-90deg") L
            div(class="letras-90deg") U
            div(class="letras-90deg") S
            div(class="letras-90deg") N
            div(class="letras-90deg") O
            div(class="letras-90deg") C
        div(class="posit-Epass")
            div(class="posit-Epass-Consulta") 
                div(class="posit-Epass-Titulo")  Consultas
                div(class="posit-Epass-MisSaldos")
                    div(class="posit-Epass-titulo") Mis Saldos
                    div(class="posit-Epass-MisSaldos-Contenido")
                        span(class="ePass-flecha")
                            i(class="fa fa-angle-right")
                        span
                            i(class="fa fa-hand-o-up")
                        span(class="ePass-flecha")
                            i(class="fa fa-angle-left")
                div(class="posit-Epass-MisSaldos")
                    div(class="posit-Epass-titulo") Mis Datos
                    div(class="posit-Epass-MisSaldos-Contenido")
                        span(class="ePass-flecha")
                            i(class="fa fa-angle-right")
                        span
                            i(class="fa fa-credit-card")
                        span(class="ePass-flecha") 
                            i(class="fa fa-angle-left")
                div(class="posit-Epass-MisSaldos")
                    div(class="posit-Epass-titulo") Recargar
                    div(class="posit-Epass-MisSaldos-Contenido")
                        span(class="ePass-flecha")
                            i(class="fa fa-angle-right")
                        span
                            i(class="fa fa-refresh")
                        span(class="ePass-flecha") 
                            i(class="fa fa-angle-left")     
                div(class="posit-Epass-Footer") Cerrar

//************** posit ePass **************//
