rutaComponentes='../../../componentes'
rutaImagenes='../../../imagenes'


/************Layout****************/
@import('../layout/layout.styl')
/************Layout****************/
.label-top
    margin-top 0.4em
    display inline-block
.text-ingenioso,.texto-security
    color gray
    font-size 14px
    vertical-align middle
.cl-bluelight
    color #366599
.texto-security
    margin-top -0.5em
    display inline-block
.cuadro_nivel_seguridad
    display: inline-block;
    height: 1.2em;
    width: 2em;
    border: 1px solid #b7b6b6;
    margin-top: 0.5em;
    transition all ease 0.3s
.contenedorNivelSeguridad
    text-align right
.bg_pw_corta
    background #ad3a3a
.bg_pw_debil
    background  yellow
.bg_pw_fuerte
    background #88d4a1
.bg_pw_muy_fuerte
    background #0cb570