/***************input textAsep******************/
colorDeX=white
backgroundDeX=#2ca7df
marginLeftSpanX=0.5em
colorBordeInput=gray
paddingleftInnput=0.5em
anchoInput=98%
altoInput=2em
backgroundInput=#f7f2f2
borderRadiusInput=3px
.errorInputValidado
	color colorDeX
	height 1.5em
	width 2em
	background backgroundDeX
	display inline-block
	vertical-align top
	border-radius 50%
	font-weight bold
	text-align center
	padding-top 0.5em
	margin-left marginLeftSpanX
	display none
	transition all ease 0.5s
	cursor pointer
.contenedorDeItemAValidar
	display flex
	align-items center
	width 100%
.InputInvalidado
	display none
	transition all ease 0.5s
.inputValido
	display block
.zkteInputAsep
	height 2em
	border-radius borderRadiusInput
	border 1px solid colorBordeInput
	padding-left paddingleftInnput
	width anchoInput
	height altoInput
	outline none
	background backgroundInput
/***************input textAsep******************/