//************** grafico cliclogix **************//
color-verde=#465D43
.contenedor-posicionamiento
	border 3px solid color-verde
.header-posicionamiento
	background color-verde
	padding	0.5em
	text-align center
	color white 
.titulo-grafico
	font-size 1.3em
	font-weight bold
.subtitulo-grafico
	font-size 0.9em
.cabezera-grafico
	padding 2em 2em 2em 0em;
.region
	font-weight bold
.vs
	font-weight bold
	text-align center
	font-size 2em
.empresa
	font-weight bold
.grafico
	height 300px
.icon-grafico
	font-size 3em
	color #0097D9
@media (max-width: 767px)
	.contenedor-posicionamiento
		border none
//************** grafico cliclogix **************//
