.Contenedor-NavegacionMenu {
  font-size: 10px;
}
.img-clicks-logic {
  height: 5.5em;
  background: #fff;
  border-bottom-left-radius: 100%;
}
.img-clicks-logic img {
  height: 3.9em;
  position: absolute;
  right: 7%;
  top: 3%;
}
.sinPaddinBosstrap {
  padding-right: 0;
  padding-left: 0;
}
.cuadro-orange {
  background: #fe5419;
  height: 6.64em;
}
.clickLogix-text-L {
  font-weight: bold;
  font-size: 4.2em;
}
.link-header {
  color: #2d2d2d;
  display: block;
  font-size: 0.9em;
}
.contenedor-link-header {
  width: 20%;
  text-align: right;
  vertical-align: top;
  margin-top: 2em;
}
.clickLogix-punto {
  height: 1.3em;
  width: 1.3em;
  display: inline-block;
  background: #808080;
  transform: rotate(-45deg);
  position: relative;
  left: 245px;
  top: -47px;
}
.bloque-borrar-punto-i {
  height: 0.7em;
  width: 0.7em;
  position: relative;
  left: 265px;
  top: -37px;
  display: inline-block;
  background: #fff;
}
.clickLogix-sub-punto {
  height: 0.7em;
  width: 0.7em;
  background: #2d2d2d;
}
.clickLogix-text {
  color: #2d2d2d;
  font-weight: bold;
  font-size: 4em;
}
.clickLogix {
  width: 55%;
  text-align: center;
}
.caurto-circle {
  height: 0.86em;
  width: 0.83em;
  display: inline-block;
}
.mts-txt {
  font-style: italic;
  font-size: 1.1em;
}
.MTS-header-first-bloque {
  height: 5.6em;
  margin-top: -1.5em;
}
.mts-circulos {
  margin-left: 1.5em;
}
.circle-part-white {
  background: #fff;
}
.circle-1-2 .circle-right-bottom {
  height: 1em;
}
.circle-clickslogic {
  height: 1.8em;
  width: 1.8em;
  border-radius: 50%;
  border: 1px solid #fff;
  overflow: hidden;
}
.inline-block {
  display: inline-block;
}
.mts-title {
  font-size: 5em;
  font-weight: bold;
}
.mts-title,
.mts-circulos {
  display: inline-block;
  vertical-align: middle;
}
.MTS-header {
  background: #fe5419;
  color: #fff;
  padding: 0.06em;
  padding-right: 3em;
  min-width: 20em;
  width: 100%;
}
@media screen and (max-width: 412px) {
  .img-Logo {
    height: 3em;
  }
}
.Boton-Movil {
  display: none;
}
.Navegacion-Menu {
  display: none;
}
.Navegacion-Menu ul {
  list-style: none;
  margin: 0px;
}
.Navegacion-Menu ul li {
  border-right: 1px solid #6f6969;
  padding: 0.2em 1em 0em 2em;
}
.Navegacion-Menu a {
  padding-left: 0.4em;
  padding-right: 0.4em;
  color: #6f6969;
  transition: all ease 0.4s;
  cursor: pointer;
  text-decoration: none;
  height: 2em;
}
.Navegacion-Menu a:hover {
  color: #e8902f;
}
.Navegacion-Menu .active {
  color: #e8902f;
}
@media screen and (max-width: 1137px) {
  .Navegacion-Menu {
    display: none;
  }
}
.Boton-Movil {
  display: none;
}
.fa-angle-double-down {
  cursor: pointer;
  font-size: 2em !important;
  color: #808080;
  transition: all ease 0.3s;
}
.fa-angle-double-down:hover {
  color: #e8902f;
}
.imagen-mts {
  width: 18%;
  margin-top: 0.2em;
}
.text-logo-mts {
  font-size: 1em;
  color: #fff;
  margin-left: 0.4em;
  max-width: 68%;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin-top: 1em;
}
.Navegacion-Menu-Movil {
  height: 0px;
  overflow: hidden;
  transition: all ease 0.5s;
}
.Navegacion-Menu-Movil ul {
  margin: 0;
  list-style: none;
  padding: 0;
  text-align: center;
  border-bottom: 1px solid #e8902f;
}
.Navegacion-Menu-Movil li {
  background: #e8902f;
  transition: all ease 0.3s;
  cursor: pointer;
}
.Navegacion-Menu-Movil li:hover {
  background: #f02228;
}
.Navegacion-Menu-Movil li a {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #cacfdc;
  width: 100%;
  display: inline-block;
  color: #fff;
}
@media screen and (max-width: 1137px) {
  .Navegacion-Menu-Movil {
    height: 0px;
  }
}
@media screen and (max-width: 1320px) {
  .clickLogix {
    width: 52%;
  }
  .contenedor-link-header {
    width: 18%;
  }
}
@media screen and (min-width: 450px) {
  .Contenedor-NavegacionMenu {
    font-size: 13px;
  }
}
@media screen and (min-width: 700px) {
  .Contenedor-NavegacionMenu {
    font-size: 16px;
  }
  .cuadro-orange {
    height: 6.67em;
  }
  .img-clicks-logic img {
    font-size: 19px;
  }
}
@media screen and (min-width: 900px) {
  .Contenedor-NavegacionMenu {
    font-size: 18px;
  }
  .caurto-circle {
    width: 0.85em;
  }
  .img-clicks-logic img {
    height: initial;
  }
}
