rutaComponentes='../../../componentes'
rutaImagenes='../../../imagenes'


/************Layout****************/
@import('../layout/layout.styl')
/************Layout****************/
label
	font-weight normal
	margin-bottom 0px
	margin-left 0.5em
	cursor pointer
	width 80%
.contenedor-radio
	margin-top 1em
input[type="checkbox"]
	margin 0
	width 2em
label,input[type="checkbox"]
	vertical-align middle
	display inline-block