extends ../layout/layout.jade
block head
    link(href='./alertas.css' rel='stylesheet')
block navegacion    
block contenido
    div(class="row smb")
        div(class="col-sm-3 col-md-3 spb contenedor-project-filter")
            include ../include/dashboard/filtro.jade
        div(class="col-sm-9 col-md-9 contenedor-filtro-proyecto")
            - vistaDashboard="Mi Perfil"
            include ../include/dashboard/menu_icons.jade
            //************** formulario gallito **************//
            div(class="contenedor-slider-todobusco")
                form(class="formulario-gallito-slider" method="post" action="")
                    div(id="slider_3_demo")
                        div(class="row smb")
                            div(class="span12")
                                div(id="owl-slider_3" class="owl-carousel")
                                    div(class="item")            
                                        div(class="contenedor-formulario-gallito")
                                            div(class="contenedor-icon-gallito-perfil")
                                                div(class="contenedor-title-borde")
                                                    span(class="title-text-borde-2") Mis Alertas
                                                    div(class="borde-inferior-titulo")
                                                div(class="row smb cont-file")
                                                    div(class="contenedor-radio")
                                                        input(type="checkbox" id="checkbox_one")
                                                        label(for="checkbox_one").
                                                            Deseo recibir periódicamente avisos de empleos
                                                            que se ajusten a mi perfil.
                                                    div(class="contenedor-radio")
                                                        input(type="checkbox" id="checkbox_two")
                                                        label(for="checkbox_two").
                                                            Deseo recibir periódicamente información y ṕublicidad útil que me permita mantenerme actualizado en el mercado laboral.
            div(class="content-btn-form")
                button(class="btn-form-gallito btn-gallit-green" id="btn-guardarDatos-finta") Guardar cambios
            //************** formulario gallito **************//
block script
    script(src='./clases.js')
    script(src='./alertas.js')
