/********Navegacion asep****************/
colorDeLetraHoverDesktop=#2ca7df
colorDeFondoAlDarleHoverMovil=#f02228
bordeInferiorMovil=#cacfdc
.img-Logo
	height 4em
	@media screen and (max-width: 412px)	
		height 3em
.Contenedor-NavegacionMenu
	display flex
	padding 1.5em
	justify-content space-between
	align-items center
.Navegacion-Menu
	display flex
	& ul
		list-style none
		display flex
	& a
		padding-left 0.4em
		padding-right 0.4em
		color #595757
		transition all ease 0.4s
		cursor pointer
		text-decoration none
		&:hover
			color colorDeLetraHoverDesktop
	.active
		color colorDeLetraHoverDesktop
		text-decoration underline
	@media screen and (max-width: 1137px)		
		display none
.Boton-Movil
	display none
	@media screen and (max-width: 1137px)
		display block
.fa-angle-double-down
	cursor pointer
	font-size 2em !important
	color gray
	transition all ease 0.3s
	&:hover
		color colorDeLetraHoverDesktop

.Navegacion-Menu-Movil
	height 0px
	overflow hidden
	transition all ease 0.5s
	& ul
		margin 0
		list-style none
		padding 0
		text-align center
		border-bottom 1px solid colorDeLetraHoverDesktop
	& li
		background colorDeLetraHoverDesktop
		transition all ease 0.3s
		cursor pointer
		&:hover
			background colorDeFondoAlDarleHoverMovil
		& a
			padding-top 0.3em
			padding-bottom 0.3em
			border-bottom 1px solid bordeInferiorMovil
			width 100%
			display inline-block
			color white
	@media screen and (max-width: 1137px)
		height 0px

/********Navegacion asep****************/