extends ../layout/layout.jade
block head
    link(href='./notificaciones.css' rel='stylesheet')
    link(rel='stylesheet' href=rutaLib+'/datatable/css/dataTables.bootstrap.min.css')
block navegacion    
block contenido
    div(class="row smb")
        div(class="col-sm-3 col-md-3 spb contenedor-project-filter")
            include ../include/dashboard/filtro.jade
        div(class="col-sm-9 col-md-9 contenedor-filtro-proyecto spb")
            div(class="contenedor-icon-gallito-perfil")
                div(class="contenedor-title-borde")
                    span(class="title-text-borde") Mis Notificiaciones
                    div(class="borde-inferior-titulo")
            div(class="text-notificaciones") Notificaciones (0)
            div(class="table-responsive")
                table#table_notificaciones.table.table-striped.table-bordered(cellspacing='0', width='100%')
                    thead
                        tr
                            th Fecha y Hora
                            th Enviado por
                            th Tipo
                            th Mensajes
                            th Acciones
                    tbody
                        tr
                            td Tiger Nixon
                            td System Architect
                            td Edinburgh
                            td 61
                            td 2011/04/25
                        tr
                            td Tiger Nixon
                            td System Architect
                            td Edinburgh
                            td 61
                            td 2011/04/25
                        tr
                            td Tiger Nixon
                            td System Architect
                            td Edinburgh
                            td 61
                            td 2011/04/25
                        tr
                            td Tiger Nixon
                            td System Architect
                            td Edinburgh
                            td 61
                            td 2011/04/25
                        tr
                            td Tiger Nixon
                            td System Architect
                            td Edinburgh
                            td 61
                            td 2011/04/25
                        tr
                            td Tiger Nixon
                            td System Architect
                            td Edinburgh
                            td 61
                            td 2011/04/25
                        tr
                            td Tiger Nixon
                            td System Architect
                            td Edinburgh
                            td 61
                            td 2011/04/25
                        tr
                            td Tiger Nixon
                            td System Architect
                            td Edinburgh
                            td 61
                            td 2011/04/25
                        tr
                            td Tiger Nixon
                            td System Architect
                            td Edinburgh
                            td 61
                            td 2011/04/25
                        tr
                            td Tiger Nixon
                            td System Architect
                            td Edinburgh
                            td 61
                            td 2011/04/25
                        tr
                            td Tiger Nixon
                            td System Architect
                            td Edinburgh
                            td 61
                            td 2011/04/25
                        tr
                            td Tiger Nixon
                            td System Architect
                            td Edinburgh
                            td 61
                            td 2011/04/25
                        tr
                            td Tiger Nixon
                            td System Architect
                            td Edinburgh
                            td 61
                            td 2011/04/25
                        tr
                            td Tiger Nixon
                            td System Architect
                            td Edinburgh
                            td 61
                            td 2011/04/25
                        tr
                            td Tiger Nixon
                            td System Architect
                            td Edinburgh
                            td 61
                            td 2011/04/25
                        tr
                            td Tiger Nixon
                            td System Architect
                            td Edinburgh
                            td 61
                            td 2011/04/25
                        tr
                            td Tiger Nixon
                            td System Architect
                            td Edinburgh
                            td 61
                            td 2011/04/25
                        tr
                            td Tiger Nixon
                            td System Architect
                            td Edinburgh
                            td 61
                            td 2011/04/25
                        tr
                            td Tiger Nixon
                            td System Architect
                            td Edinburgh
                            td 61
                            td 2011/04/25
                        tr
                            td Tiger Nixon
                            td System Architect
                            td Edinburgh
                            td 61
                            td 2011/04/25
                        tr
                            td Tiger Nixon
                            td System Architect
                            td Edinburgh
                            td 61
                            td 2011/04/25
                        tr
                            td Tiger Nixon
                            td System Architect
                            td Edinburgh
                            td 61
                            td 2011/04/25
                        tr
                            td Tiger Nixon
                            td System Architect
                            td Edinburgh
                            td 61
                            td 2011/04/25
                        tr
                            td Tiger Nixon
                            td System Architect
                            td Edinburgh
                            td 61
                            td 2011/04/25
                        tr
                            td Tiger Nixon
                            td System Architect
                            td Edinburgh
                            td 61
                            td 2011/04/25
                        tr
                            td Tiger Nixon
                            td System Architect
                            td Edinburgh
                            td 61
                            td 2011/04/25
                        tr
                            td Tiger Nixon
                            td System Architect
                            td Edinburgh
                            td 61
                            td 2011/04/25
                        tr
                            td Tiger Nixon
                            td System Architect
                            td Edinburgh
                            td 61
                            td 2011/04/25
                        tr
                            td Tiger Nixon
                            td System Architect
                            td Edinburgh
                            td 61
                            td 2011/04/25
                        tr
                            td Tiger Nixon
                            td System Architect
                            td Edinburgh
                            td 61
                            td 2011/04/25
                        tr
                            td Tiger Nixon
                            td System Architect
                            td Edinburgh
                            td 61
                            td 2011/04/25
                        tr
                            td Tiger Nixon
                            td System Architect
                            td Edinburgh
                            td 61
                            td 2011/04/25
block script
    script(src=rutaLib+'/datatable/js/jquery.dataTables.min.js')
    script(src='./clases.js')
    script(src='./notificaciones.js')
