//************** modal gallito **************//
body
    margin 0
    font-size 16px
//************** modal gallito **************//
@font-face {
  font-family: "calibri";
  src: url("../../../fonts/calibri/calibri.eot") format("embedded-opentype"), url("../../../fonts/calibri/calibri.woff") format("woff"), url("../../../fonts/calibri/calibri.ttf") format("truetype");
}
#modal-gallito
  .modal-content
    border-radius 0
    font-family calibri
  .modal-header
    background #353F49
    color white
    text-align left
    padding 0.5em 0.5em 0.5em 1em
    border 0
  .modal-footer
    border 0
  .modal-body
    font-size 0.9em
    text-align left
  .btn-password
    border-radius 0
    background #0cB570
    color white
    font-size 1    em
    padding 0.3em 1em
  .enlace-volver
    color #527494
    display inline-block
    margin-right 1em
    font-size 1em
    cursor pointer
  .close-modal-gallito
    opacity 1
    width 0.8em
    height 0.8em
    border-radius 50%
    outline none
    font-size 1.4em
    text-shadow none
    background #fff
    color #353f49
  .form-control
        width 100% !important
        border-radius 0
        border-color #555
  .modal-label
    text-align left
    padding-right 0