//************** header gallitoDashboard **************//
@font-face {
  font-family: "calisto";
  src: url("../../../../componentes/fonts/calisto/calisto.eot") format("embedded-opentype"), url("../../../../componentes/fonts/calisto/calisto.woff") format("woff"), url("../../../../componentes/fonts/calisto/calisto.ttf") format("truetype");
}
@font-face {
  font-family: "calibri";
  src: url("../../../../componentes/fonts/calibri/calibri.eot") format("embedded-opentype"), url("../../../../componentes/fonts/calibri/calibri.woff") format("woff"), url("../../../../componentes/fonts/calibri/calibri.ttf") format("truetype");
}
@-moz-keyframes animationButton {
  0% {
    background: #823333;
  }
  50% {
    background: #e26a39;    
  }
  100% {
    background: #823333;
  }
}
@-webkit-keyframes animationButton {
  0% {
    background: #823333;
  }
  50% {
    background: #e26a39;    
  }
  100% {
    background: #823333;
  }
}
@-o-keyframes animationButton {
  0% {
    background: #823333;
  }
  50% {
    background: #e26a39;    
  }
  100% {
    background: #823333;
  }
}
@keyframes animationButton {
  0% {
    background: #823333;
  }
  50% {
    background: #e26a39;    
  }
  100% {
    background: #823333;
  }
}
header
    background:#353e4a;
    height:5em;
.smb
    margin-left 0em
    margin-right 0em
.spb
    padding-left 0em
    padding-right 0em
.contenedor-project-filter
    text-align right
.contenedor-filtro-proyecto
    padding 0em 5em 0em 1.5em
a:hover
    text-decoration:none
.headerDashboard
    font-family calibri
.relative
    position relative
.inline-block-top
    display:inline-block
    vertical-align:top
.inline-block-middle
    display:inline-block
    vertical-align:middle
.gallito-icon
    position: absolute;
    left: 1em;
    top: 0.2em;
    font-size: 2.4em;
.gallito-register-container
    position: absolute;
    right: 1em;
    top: 1.7em;
.gallito-icon-title
    color white;
    font-family calisto
.gallito-icon-com
    color:#93b4d9;
    font-family calisto
.gallito-register-botton input
    background: #52749a;
    color: white;
    border: navajowhite;
    outline: none;
    -webkit-appearance: none;
    padding: 0.3em 1em;
.gallito-register-botton input:hover    
    animation: animationButton 1.5s infinite;
.gallito-text-blue
    color: white;
    border-right 1px solid white
    padding-right 0.8em
    font-size 1.1em
    transition all ease 0.3s
.gallito-text-white
    color: #93b4d9;
    padding 0em 0.5em
    transition all ease 0.3s
.gallito-register-text
    margin-left 0.5em
    margin-top -0.4em
.gallito-text-blue:hover
    color #e26a39
.gallito-text-white:hover
    color #e26a39
.borde-left-white
    font-family: calibri;
    color: white;
    padding: 0em 0.4em;
    margin-left: 0.4em;
    border-left: 1px solid white;
    font-size: 0.7em;
    font-weight: bold;
.text-welcome
    color white
    font-size 1.3em
    border-right 1px solid white
    padding 0em 0.5em 0em 0em
@media screen and (max-width: 761px)
    .gallito-icon,.gallito-register-container
        position initial
        text-align center
    header
        height inherit
        padding 0.5em
@media screen and (max-width: 439px)
    .text-welcome
        border-right none
    .headerDashboard
        font-size 13px
//************** header gallitoDashboard **************//
/************** footer gallito **************/
.footer-gallit-block-1
    background: #3a404b;
    color: white;
.bloq-foot
    padding: 1em 3%;
    border-right: 1px dashed white;
.footer-gallito-title
    color #93B4D9
    font-weight bold
    font-size 1.3em
    margin-bottom 0.5em
.bloq-foot-left
    padding-left 11%
.leter-footer-gallito
    font-size 14px
.block-2-letter
    padding: 1em 2em;
    font-size: 14px;
    color #585858
.logo-footer-galito
    font-size 3.1em
    font-family calisto
    line-height 1.2em
.gallito-letter-logo-footer-first
    color #353E4A
.gallito-letter-logo-footer-last
    color #93B5DA
.color-fot-gallito-letter
    color #353E4A
.redes-sociales-footer-gallito
    text-align right
.redes-sociales-footer-gallito i
    font-size: 2em;
    margin-right: 0.5em;
.smb
    margin-right 0px
    margin-left 0px
.footer-gallit-block-1
    font-family Arial
.text-gray-suave
    color #808184
.inline-block
    display inline-block
.link-redes-sociales-gallito-footer
    margin-left 0.5em;
    margin-top 1em
.simrdashed
    border-right none
.contenedor-layout
    max-width 1100px
    margin 0 auto
@media (max-width: 991px)
    .bloq-foot-3-1
        padding-left 11%
    .simr-dashed-2
        border-right none
@media (max-width: 768px)       
    .block-2-letter
        text-align center
@media (max-width: 542px)
    .pad-mob-foot
        padding-left 20%
        width 100%
    .simr-dashed-1,.simr-dashed-3
        border-right none
/************** footer gallito **************/
//************** filtro gallito **************//
blue=#353e4a
blueLight=#366599
body
    margin 0
    font-size 16px
.contenedor-layout
    max-width inherit
.contenedor-icon-gallito-perfil
    margin-top 1em
.icon-inline
    display inline-block
    vertical-align middle
.icon-pointer
    cursor pointer
.contenedor-filtro-gallito
    background: #ebedeb;
    width: 16em;
    display: inline-block;
    padding 1em 0em
    font-family Arial
    text-align left
    height inherit
    height 38em
.hideDiv
    display none
.bloque-filtro
    padding: 0.3em 1em;
.title-block-filtro
    margin-left 0.8em
    color: blue;
    text-decoration none
    transition all ease 0.3s
    vertical-align middle
    display inline-block
    cursor pointer
    font-family: Arial;
    font-size 0.9em
    font-weight bold
.title-block-filtro:hover
    text-decoration none
.avisos-left
    margin-left 1em
.block-desplegable-rectangle
    background: #366599;
    color: white;
    padding: 0.3em 1em;
    margin-top: 0.2em;
    cursor pointer
    transition all ease 0.3s
.block-desplegable-rectangle:hover
    background blue
.cl-white
    color white
    font-weight normal
.icon-up-filter,.icon-down-filter
    font-size 2em
    float right
    margin-top -0.2em
.block-dashed
    padding: 0.5em 1em;
    border-bottom: 1px dotted #b3b3b3;
.block-dashed-title
    color #366599
    font-weight bold
    font-size 0.9em
.filtro-subcat
    padding 0.2em 0em 0.2em 3em
.link-subcat
    font-size 0.9em
    color #353e4a
    cursor pointer
.bg-blue
    background blue
    transition all ease 0.3s
.bg-blue:hover
    background blueLight
@media screen and (max-width: 956px)
    .contenedor-project-filter
        width 100%
    .contenedor-filtro-gallito
        width 100%
    .contenedor-filtro-gallito
        padding-bottom 0.5em
    .contenedor-filtro-proyecto
        width 100%
        padding 0em 0em 0em 0em
    .contenedor-filtro-gallito
        height inherit
        padding-bottom 1.5em
    footer
        margin-top 1em
//************** filtro gallito **************//
blueDark=#353e4a
.contenedor-title-borde
    position relative
    font-family calibri
.title-text-borde
    font-weight bold
    color blueDark !important
    font-size 1.3em !important
    padding-right 0.5em !important
    background white !important
    display inline-block !important
.borde-inferior-titulo
    background blueDark
    height 0.1em
    width 100%
    position absolute
    bottom 8px;
    z-index -1
.text-notificaciones
    color blueLight
    font-weight bold
    padding 1em 0em
    font-size 1.3em