//************** slider gallitoB **************//
extends ./layout.jade
block content
    - rutaImagenes ='../../../imagenes'
    div(class="contenedor-post-gallito")
        div(class="row post-gallito-title smB")
            div(class="post-gallito-title-txt") Conoce las empresas que apuestan por ti
            div(class="post-gallito-title-borde")
    div(id="slider_3_demo")
      div(class="arrow-prev")
        i(class="fa fa-angle-left" aria-hidden="true")
      div(class="arrow-next")
        i(class="fa fa-angle-right" aria-hidden="true")
      div(class="container")
        div(class="row")
          div(class="span12")
            div(id="owl-slider_3" class="owl-carousel")
                div(class="item item-gallitoB")
                    div(class="cont-hver-desc-slider")
                        div(class="slider-hover-title") Clicks and Bricks
                        div(class="slider-hover-description").
                            Empresa de fábrica de software dedicada a la producción de software de calidad, contando con los mejores profesionales tanto de sistemas como de informática
                    img(class="imagen-slider-empresa lazyOwl" data-src="http://www.placetowork.co/img/oficinas/5_454x340.jpg" src="http://www.placetowork.co/img/oficinas/5_454x340.jpg")
                    div(class="container-slider-empresa")
                        div(class="container-slider-empresa-img col-xs-4 col-sm-4 col-md-4 spB")
                            img(clas="img-logo-empresa-slider lazyOwl" data-src="http://cd00.epimg.net/cincodias/imagenes/2015/05/08/pyme/1431098283_691735_1431098420_noticia_normal.jpg" src="http://cd00.epimg.net/cincodias/imagenes/2015/05/08/pyme/1431098283_691735_1431098420_noticia_normal.jpg")
                        div(class="container-slider-empresa-title col-xs-8 col-sm-8 col-md-8 spB")
                            div(class="slider-empresa-nombre") Clicks and Bricks
                            div(class="ofertas-laborales-text-slider") 15 Ofertas laborales
                div(class="item item-gallitoB")
                    div(class="cont-hver-desc-slider")
                        div(class="slider-hover-title") Clicks and Bricks
                        div(class="slider-hover-description").
                            Empresa de fábrica de software dedicada a la producción de software de calidad, contando con los mejores profesionales tanto de sistemas como de informática
                    img(class="imagen-slider-empresa lazyOwl" data-src="http://www.placetowork.co/img/oficinas/5_454x340.jpg" src="http://www.placetowork.co/img/oficinas/5_454x340.jpg")
                    div(class="container-slider-empresa")
                        div(class="container-slider-empresa-img col-xs-4 col-sm-4 col-md-4 spB")
                            img(clas="img-logo-empresa-slider lazyOwl" data-src="http://cd00.epimg.net/cincodias/imagenes/2015/05/08/pyme/1431098283_691735_1431098420_noticia_normal.jpg" src="http://cd00.epimg.net/cincodias/imagenes/2015/05/08/pyme/1431098283_691735_1431098420_noticia_normal.jpg")
                        div(class="container-slider-empresa-title col-xs-8 col-sm-8 col-md-8 spB")
                            div(class="slider-empresa-nombre") Clicks and Bricks
                            div(class="ofertas-laborales-text-slider") 15 Ofertas laborales
                div(class="item item-gallitoB")
                    div(class="cont-hver-desc-slider")
                        div(class="slider-hover-title") Clicks and Bricks
                        div(class="slider-hover-description").
                            Empresa de fábrica de software dedicada a la producción de software de calidad, contando con los mejores profesionales tanto de sistemas como de informática
                    img(class="imagen-slider-empresa lazyOwl" data-src="http://www.placetowork.co/img/oficinas/5_454x340.jpg" src="http://www.placetowork.co/img/oficinas/5_454x340.jpg")
                    div(class="container-slider-empresa")
                        div(class="container-slider-empresa-img col-xs-4 col-sm-4 col-md-4 spB")
                            img(clas="img-logo-empresa-slider lazyOwl" data-src="http://cd00.epimg.net/cincodias/imagenes/2015/05/08/pyme/1431098283_691735_1431098420_noticia_normal.jpg" src="http://cd00.epimg.net/cincodias/imagenes/2015/05/08/pyme/1431098283_691735_1431098420_noticia_normal.jpg")
                        div(class="container-slider-empresa-title col-xs-8 col-sm-8 col-md-8 spB")
                            div(class="slider-empresa-nombre") Clicks and Bricks
                            div(class="ofertas-laborales-text-slider") 15 Ofertas laborales
                div(class="item item-gallitoB")
                    div(class="cont-hver-desc-slider")
                        div(class="slider-hover-title") Clicks and Bricks
                        div(class="slider-hover-description").
                            Empresa de fábrica de software dedicada a la producción de software de calidad, contando con los mejores profesionales tanto de sistemas como de informática
                    img(class="imagen-slider-empresa lazyOwl" data-src="http://www.placetowork.co/img/oficinas/5_454x340.jpg" src="http://www.placetowork.co/img/oficinas/5_454x340.jpg")
                    div(class="container-slider-empresa")
                        div(class="container-slider-empresa-img col-xs-4 col-sm-4 col-md-4 spB")
                            img(clas="img-logo-empresa-slider lazyOwl" data-src="http://cd00.epimg.net/cincodias/imagenes/2015/05/08/pyme/1431098283_691735_1431098420_noticia_normal.jpg" src="http://cd00.epimg.net/cincodias/imagenes/2015/05/08/pyme/1431098283_691735_1431098420_noticia_normal.jpg")
                        div(class="container-slider-empresa-title col-xs-8 col-sm-8 col-md-8 spB")
                            div(class="slider-empresa-nombre") Clicks and Bricks
                            div(class="ofertas-laborales-text-slider") 15 Ofertas laborales
                div(class="item item-gallitoB")
                    div(class="cont-hver-desc-slider")
                        div(class="slider-hover-title") Clicks and Bricks
                        div(class="slider-hover-description").
                            Empresa de fábrica de software dedicada a la producción de software de calidad, contando con los mejores profesionales tanto de sistemas como de informática
                    img(class="imagen-slider-empresa lazyOwl" data-src="http://www.placetowork.co/img/oficinas/5_454x340.jpg" src="http://www.placetowork.co/img/oficinas/5_454x340.jpg")
                    div(class="container-slider-empresa")
                        div(class="container-slider-empresa-img col-xs-4 col-sm-4 col-md-4 spB")
                            img(clas="img-logo-empresa-slider lazyOwl" data-src="http://cd00.epimg.net/cincodias/imagenes/2015/05/08/pyme/1431098283_691735_1431098420_noticia_normal.jpg" src="http://cd00.epimg.net/cincodias/imagenes/2015/05/08/pyme/1431098283_691735_1431098420_noticia_normal.jpg")
                        div(class="container-slider-empresa-title col-xs-8 col-sm-8 col-md-8 spB")
                            div(class="slider-empresa-nombre") Clicks and Bricks
                            div(class="ofertas-laborales-text-slider") 15 Ofertas laborales
                div(class="item item-gallitoB")
                    div(class="cont-hver-desc-slider")
                        div(class="slider-hover-title") Clicks and Bricks
                        div(class="slider-hover-description").
                            Empresa de fábrica de software dedicada a la producción de software de calidad, contando con los mejores profesionales tanto de sistemas como de informática
                    img(class="imagen-slider-empresa lazyOwl" data-src="http://www.placetowork.co/img/oficinas/5_454x340.jpg" src="http://www.placetowork.co/img/oficinas/5_454x340.jpg")
                    div(class="container-slider-empresa")
                        div(class="container-slider-empresa-img col-xs-4 col-sm-4 col-md-4 spB")
                            img(clas="img-logo-empresa-slider lazyOwl" data-src="http://cd00.epimg.net/cincodias/imagenes/2015/05/08/pyme/1431098283_691735_1431098420_noticia_normal.jpg" src="http://cd00.epimg.net/cincodias/imagenes/2015/05/08/pyme/1431098283_691735_1431098420_noticia_normal.jpg")
                        div(class="container-slider-empresa-title col-xs-8 col-sm-8 col-md-8 spB")
                            div(class="slider-empresa-nombre") Clicks and Bricks
                            div(class="ofertas-laborales-text-slider") 15 Ofertas laborales
   

//************** slider gallitoB **************//
