- rutaImagenes ='../../../imagenes'
extends ./layout/layout.jade
block content
    - componentes = ["header","footer","slider","banner","button","contadores","formulario","gota","grafico","icons","input","inscripcion","menu","navegacion","paquete","posit","post","publicidad","redesSociales","select","tabs","titulo","vinietas"]
    header(class="relative" id="header-todobusco")
        div(class="todobusco-icon")
            a(href="/")
                span(class="todobusco-icon-title") Zkte-
                span(class="todobusco-icon-title-2") Front
        div(class="todobusco-register-container")       
            div(class="todobusco-register-text inline-block-middle")
                a(class="todobusco-text-white" href="#") Instalación
                a(class="todobusco-text-white sbmobile" href="#") Componentes
                a(class="todobusco-text-white" href="#") Soporte
                div(class="todobusco-register-botton inline-block-middle")
                    input(type="button" value="Regístrate")
    div(class="componentes")
        div(class="componentes-title")
            span Hay mas de 10.450 componentes
        div(class="componentes-links")
            div(class="componentes-links-header")
                div(class="componentes-links-header-tile")
                    each componente in componentes
                        span(class="componenteClassLink" onclick="actualizarJsonComponente('"+componente+"')" id=componente )=componente
                div(id="componentes-links-header-content")
    div(class="text-preview")
        span(class="text-view") Vista previa de:
        span(class="text-view-color text-gray")
        div
            span(class="texto-instalacion text-gray") comando:
            span(class="comando-de-instalacion text-gray")
    div(class="contenedor-iframe")
        iframe(id="idIframe" src="#")