// redesSociales asep
extends ./layout.jade
block content
    - rutaImagenes ='../../../imagenes'
    div(class="Redes-Sociales-Finish")
            i(class="fa fa-facebook-official")
            i(class="fa fa-twitter-square")
            i(class="fa fa-linkedin-square")
// redesSociales asep