/************* redesSociales asep*************/
background=#6b6767
.Redes-Sociales-Finish
	display flex
	justify-content center
	padding-top 2em
	padding-bottom 2em
	& i
		font-size 3em
		display inline-block
		margin-left 0.5em
		color background
/************* redesSociales asep*************/