// buuton asepAzul
extends ./layout.jade
block content
    - rutaImagenes ='../../../imagenes'
    - contenido="GUARDAR"
    - claseBtn="GUARDAR"
    input(type="button" class="btn-asepAzul "+claseBtn value=contenido)
// buuton asepAzul