/************button asepAzul*********/
background=#2ca7df
padding=9px 40px
color=white
borde=none
backgroundHover=#39b44c
tamanioLetara=1.5em
.btn-asepAzul
	background background//background
	padding padding//padding
	border-radius 5px
	color color//color
	border borde//borde
	outline none
	font-weight bold
	transition all ease 0.4s
	cursor pointer
	font-size tamanioLetara//tamanioLetara
	&:hover
		background backgroundHover//backgroundHover

/************button asepAzul*********/