extends ../layout/layout.jade
block head
    link(href='./otrosEstudios.css' rel='stylesheet')
block navegacion    
block contenido
    div(class="row smb")
        div(class="col-sm-3 col-md-3 spb contenedor-project-filter")
            include ../include/dashboard/filtro.jade
        div(class="col-sm-9 col-md-9 contenedor-filtro-proyecto spb")
            include ../include/dashboard/menu_icons.jade
            //************** formulario gallito **************//
            div(class="contenedor-slider-todobusco")
                form(class="formulario-gallito-slider" method="post" action="")
                    div(id="slider_3_demo")
                        div(class="row smb")
                            div(class="span12")
                                div(id="owl-slider_3" class="owl-carousel")
                                    div(class="item")            
                                        div(class="contenedor-formulario-gallito")
                                            div(class="contenedor-icon-gallito-perfil")
                                                div(class="contenedor-title-borde")
                                                    span(class="title-text-borde-2") Otros Estudios(1)
                                                    div(class="borde-inferior-titulo")
                                                div(class="row smb cont-file")
                                                    div(class="col-sm-2 col-md-2 spb")
                                                        span(class="text-2-line") Nombre (*)
                                                    div(class="col-sm-7 col-md-7 spb align-middle cont-msj-relative")
                                                        input(type="text" class="input_form_perfil" name="nombre_otros_estudios" placeholder="Ingrese nombre de la institución")
                                                    div(class="col-sm-3 col-md-3 spb align-middle-text cont-module-error")
                                                        div(class="icon-alert icon-inline icon-alert-left hideDiv")
                                                        div(class="error-format text-2-line-error")
                                                div(class="row smb cont-file")
                                                    div(class="col-sm-2 col-md-2 spb align-middle-text")
                                                        span(class="text-2-line ") Nivel (*)
                                                    div(class="col-sm-7 col-md-7 spb align-middle cont-msj-relative")
                                                        select(class="input_form_perfil select_color" name="name_nivel")
                                                            option(value="") Seleccione
                                                            option(value="1") Informática
                                                            option(value="2") Sistemas
                                                            option(value="3") Idiomas
                                                    div(class="col-sm-3 col-md-3 spb align-middle-text cont-module-error")
                                                        div(class="icon-alert icon-inline icon-alert-left hideDiv")
                                                        div(class="error-format text-2-line-error")
                        div(class="row smb")
                            div(class="col-sm-2 col-md-2 spb")
                            div(class="col-sm-7 col-md-7 spb align-middle contenedor-paginacion")
                                div(class="arrow-prev arrow-transale-pagination ")
                                    i(class="fa fa-caret-left disabled-arrow" aria-hidden="true")
                                span(class="content-pagination")
                                    input(type="button" class="pagination-formulario active-pagination " value="1")
                                div(class="arrow-next arrow-transale-pagination ")
                                    i(class="fa fa-caret-right disabled-arrow" aria-hidden="true")
            div(class="content-btn-form")
                button(id="addEstudio" class="btn-form-gallito btn-gallit-ligth" ) Añadir otro estudio
                button(class="btn-form-gallito btn-gallit-green" id="btn-guardarDatos-finta") Guardar cambios
            //************** formulario gallito **************//
block script
    script(src='./clases.js')
    script(src='./otrosEstudios.js')
