rutaComponentes='../../../componentes'
rutaImagenes='../../../imagenes'


/************Layout****************/
@import('../layout/layout.styl')
/************Layout****************/

/**otros **/
.contenedor-project-filter
    text-align right
.contenedor-filtro-proyecto
    padding 0em 5em 0em 1.5em
.cont-msj-relative
    position relative
.formulario-gallito-slider
    margin-bottom 0em
.content-btn-form
    margin-top 1em
.disabled-arrow
    color gray !important

@media screen and (max-width: 1239px)
    .contenedor-all-circle-gallitoPerfil-icon
        padding-bottom 0em
    .contenedor-slider-todobusco
        margin-top -2em
@media screen and (max-width: 1038px)
    .contenedor-filtro-proyecto
        padding 0em 1em 0em 1.5em
@media screen and (max-width: 956px)
    footer
        margin-top 1em
    .contenedor-project-filter
        width 100%
    .contenedor-filtro-gallito
        width 100%
    .contenedor-filtro-gallito
        padding-bottom 0.5em
    .contenedor-filtro-proyecto
        width 100%
@media screen and (max-width: 768px)
    .contenedor-formulario-gallito
        padding 0em
@media screen and (max-width: 375px)  
    .headerDashboard
        font-size 14px
    .gallito-icon
        font-size 2.2em
