//************** paquete ePassMas **************//
extends ./layout.jade
block content
    - rutaImagenes ='../../../imagenes'
    div(class="paqueteEpass")
        div(class="paqueteEpass-Titulo")
            span Más
        div(class="contenedorContenido")
            div(class="paqueteEpass-Contenido")
                div(class="paqueteEpass-Contenido-Precio")              
                    div(class="precio")
                        span Paquetes
                div(class="paqueteEpass-Contenido-Recarga")
                    span Conoza 
                    a(href="#") aquí 
                    span.
                        más paquetes que tenemos para ti en
                        nuestro plan individual.
                div(class="paqueteEpass-Contenido-VerMas")
                    span Consultar
//************** paquete ePassMas **************//
