extends ../layout/layout.jade
block head
    link(href='./postulaciones.css' rel='stylesheet')
block navegacion    
block contenido
    div(class="row smb")
        div(class="col-sm-3 col-md-3 spb contenedor-project-filter")
            include ../include/dashboard/filtro.jade
        div(class="col-sm-9 col-md-9 contenedor-filtro-proyecto spb")
            div(class="contenedor-icon-gallito-perfil")
                div(class="contenedor-title-borde")
                    span(class="title-text-borde") Mis Notificiaciones
                    div(class="borde-inferior-titulo")
            div(class="text-notificaciones") Mis Postulaciones (02)
            //************** post gallito **************//
            - rutaImagenes ='../../../imagenes'
            div(class="contenedor-post-gallito")
                a(href="#" class="post-cuadro row smB")
                    div(class="post-cuadro-izquierda  spB")
                        div(class="bloque-start")
                            i(class="fa fa-star" aria-hidden="true")
                            span(class="bloque-start-text-origin") Analista de Logística
                        div(class="post-cuadro-izquierda-container")
                            div(class="imagen-post-movil")
                                img(src="https://s3.amazonaws.com/s3.dev.gallito.clickslatam.com/aptitus/logos/Company-6946-bd9d1bd98e65e46ba6db6674ba913276_png_130x130_q80.png" class="img-post")
                            div(class="contenedor-post-movile")
                                div(class="bloque-start-nombre") Diego Suárez S.A
                                div(class="bloque-start-texto").
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                                div(class="bloque-start-time")
                                    i(class="fa fa-clock-o i-reloj" aria-hidden="true")
                                    span(class="time-text") hace 2 minutos
                                    i(class="fa fa-check-square-o i-check" aria-hidden="true")
                                    span( class="link-post") Producción
                                    i(class="fa fa-angle-right i-flecha-derecha" aria-hidden="true")
                                    span( class="link-post") Profesional
                    div(class="post-cuadro-derecha spB")
                        div(class="contenedor-cell")
                            div(class="contendor-img-post")
                                img(src="https://s3.amazonaws.com/s3.dev.gallito.clickslatam.com/aptitus/logos/Company-6946-bd9d1bd98e65e46ba6db6674ba913276_png_130x130_q80.png" class="img-post")
            //************** post gallito **************//
            //************** post gallito **************//
            - rutaImagenes ='../../../imagenes'
            div(class="contenedor-post-gallito")
                a(href="#" class="post-cuadro row smB")
                    div(class="post-cuadro-izquierda  spB")
                        div(class="bloque-start")
                            i(class="fa fa-star" aria-hidden="true")
                            span(class="bloque-start-text-origin") Analista de Logística
                        div(class="post-cuadro-izquierda-container")
                            div(class="imagen-post-movil")
                                img(src="https://s3.amazonaws.com/s3.dev.gallito.clickslatam.com/aptitus/logos/Company-6946-bd9d1bd98e65e46ba6db6674ba913276_png_130x130_q80.png" class="img-post")
                            div(class="contenedor-post-movile")
                                div(class="bloque-start-nombre") Diego Suárez S.A
                                div(class="bloque-start-texto").
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                                div(class="bloque-start-time")
                                    i(class="fa fa-clock-o i-reloj" aria-hidden="true")
                                    span(class="time-text") hace 2 minutos
                                    i(class="fa fa-check-square-o i-check" aria-hidden="true")
                                    span( class="link-post") Producción
                                    i(class="fa fa-angle-right i-flecha-derecha" aria-hidden="true")
                                    span( class="link-post") Profesional
                    div(class="post-cuadro-derecha spB")
                        div(class="contenedor-cell")
                            div(class="contendor-img-post")
                                img(src="https://s3.amazonaws.com/s3.dev.gallito.clickslatam.com/aptitus/logos/Company-6946-bd9d1bd98e65e46ba6db6674ba913276_png_130x130_q80.png" class="img-post")
            //************** post gallito **************//
            //************** post gallito **************//
            - rutaImagenes ='../../../imagenes'
            div(class="contenedor-post-gallito")
                a(href="#" class="post-cuadro row smB")
                    div(class="post-cuadro-izquierda  spB")
                        div(class="bloque-start")
                            i(class="fa fa-star" aria-hidden="true")
                            span(class="bloque-start-text-origin") Analista de Logística
                        div(class="post-cuadro-izquierda-container")
                            div(class="imagen-post-movil")
                                img(src="https://s3.amazonaws.com/s3.dev.gallito.clickslatam.com/aptitus/logos/Company-6946-bd9d1bd98e65e46ba6db6674ba913276_png_130x130_q80.png" class="img-post")
                            div(class="contenedor-post-movile")
                                div(class="bloque-start-nombre") Diego Suárez S.A
                                div(class="bloque-start-texto").
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                                div(class="bloque-start-time")
                                    i(class="fa fa-clock-o i-reloj" aria-hidden="true")
                                    span(class="time-text") hace 2 minutos
                                    i(class="fa fa-check-square-o i-check" aria-hidden="true")
                                    span( class="link-post") Producción
                                    i(class="fa fa-angle-right i-flecha-derecha" aria-hidden="true")
                                    span( class="link-post") Profesional
                    div(class="post-cuadro-derecha spB")
                        div(class="contenedor-cell")
                            div(class="contendor-img-post")
                                img(src="https://s3.amazonaws.com/s3.dev.gallito.clickslatam.com/aptitus/logos/Company-6946-bd9d1bd98e65e46ba6db6674ba913276_png_130x130_q80.png" class="img-post")
            //************** post gallito **************//
block script
    script(src='./clases.js')
    script(src='./postulaciones.js')