//************** banner todobusco **************//
.hideDiv
  display:none;

@-moz-keyframes animationButtonBuscador {
  0% {
    background: #007f4c;
  }
  50% {
    background: #ffa200;    
  }
  100% {
    background: #007f4c;
  }
}
@-webkit-keyframes animationButtonBuscador {
  0% {
    background: #007f4c;
  }
  50% {
    background: #ffa200;    
  }
  100% {
    background: #007f4c;
  }
}
@-o-keyframes animationButtonBuscador {
  0% {
    background: #007f4c;
  }
  50% {
    background: #ffa200;    
  }
  100% {
    background: #007f4c;
  }
}
@keyframes animationButtonBuscador {
  0% {
    background: #007f4c;
  }
  50% {
    background: #ffa200;    
  }
  100% {
    background: #007f4c;
  }
}
.contenedor-buscador
    position: absolute;
    z-index: 90;
    width: 60%;
    background: #424242;
    left: 21%;
    padding: 1.5em 3em;
    top 14em
    border: 1px solid #808080;
.buscador-txt
    color: white;
    font-weight: bold;
    font-size: 2em;
.conteneodr-buscador-input
    background: white;
    padding: 0.4em;
    position relative
.buscador-input
    width: 80%;
    padding: 0.2em;
    border: none;
    outline:none;
.buton-buscador
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.6em 2.5em;
    border: none;
    background: #007f4c;
    color: white;
    font-weight: bold;
.buton-buscador:hover
    animation animationButtonBuscador 1s infinite
.contenedor-img-todobusco
    height: 14em;
    text-align: center;
    padding: 1em;
.img-banner-todobusco
    height 100%
@media screen and (max-width: 1330px)
  .contenedor-buscador
      top 15em
  .preload-img
      height 25em
@media screen and (max-width: 1285px)
    .contenedor-buscador
      top 14em
    .preload-img
      height 23em
@media screen and (max-width: 1220px)
    .contenedor-buscador
      top 12em
    
@media screen and (max-width: 1130px)
    .buscador-txt
        font-size 1.5em
    .preload-img
        height 21em
    .sk-cube-grid
        margin-top 5.5em;
@media screen and (max-width: 1133px)
    .buscador-txt
        font-size 1.2em
@media screen and (max-width: 1030px)        
    .contenedor-buscador
        top 10em
    .preload-img
      height 19em
@media screen and (max-width: 940px)
    .contenedor-buscador
        top 8em
    .sk-cube-grid
        margin-top 4em;
    
@media screen and (max-width: 830px)
    .contenedor-buscador
        width 100%;
        position initial
        background rgb(30, 179, 236)
    .preload-img
        height 15em
@media screen and (max-width: 650px)
    .buscador-txt
        font-size 1em
    .conteneodr-buscador-input
        font-size 11px
    .contenedor-buscador
        padding 1.5em 1em
//************** banner todobusco **************//
