.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
}
.owl-carousel position relative {
  width: 100%;
}
.owl-carousel position relative.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item {
  float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer;
}
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.grabbing {
  cursor: url("grabbing.png") 8 8, move;
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
#owl-slider_3 .item {
  margin: 10px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.customNavigation {
  text-align: center;
}
.customNavigation a {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.smB {
  margin-left: 0px;
  margin-right: 0px;
}
#slider_3_demo {
  position: relative;
}
.arrow-prev {
  position: absolute;
  top: 38%;
  left: 3em;
}
.arrow-prev i,
.arrow-next i {
  font-size: 5em;
  font-weight: bold;
  color: #afb8c2;
  cursor: pointer;
  transition: all ease 0.3s;
}
.arrow-next {
  position: absolute;
  top: 38%;
  right: 3em;
}
.item-gallitoB {
  position: relative;
}
.imagen-slider-empresa {
  width: 100%;
  cursor: pointer;
  transition: all ease 0.5s;
}
.slider-hover-title {
  padding: 1em;
  font-weight: bold;
}
.slider-hover-description {
  padding: 0em 1em;
  font-style: italic;
}
.container-slider-empresa-img,
.container-slider-empresa-title {
  display: inline-block;
  vertical-align: top;
}
.container-slider-empresa-img img {
  width: 74%;
}
.container-slider-empresa-img {
  height: 5em;
  font-size: 14px;
}
.container-slider-empresa-title {
  height: 5em;
  text-align: left;
  font-size: 14px;
  text-align: center;
}
.ofertas-laborales-text-slider {
  line-height: 0;
}
.container-slider-empresa-img {
  border-bottom: 2px solid #c5c5c5;
  border-top: none;
  border-left: 2px solid #c5c5c5;
}
.container-slider-empresa-title {
  border: 2px solid #c5c5c5;
  border-top: none;
}
.spB {
  padding-right: 0px;
  padding-left: 0px;
}
.cont-hver-desc-slider {
  height: 0px;
}
.owl-pagination {
  display: block;
  height: 1em;
  text-align: center;
  padding: 1em;
}
.owl-page {
  display: inline-block;
  height: 1em;
  width: 1em;
  background: #5e7397;
  border-radius: 50%;
  margin-right: 0.5em;
}
.owl-page.active {
  background: #976e5e;
}
.owl-buttons {
  display: none;
}
.owl-pagination {
  display: none;
}
.arrow-next i:hover {
  color: #5e7397;
}
.container-btn-green {
  color: #fff;
  background: #007f4c;
  width: 80%;
  margin: 0 auto;
  font-weight: bold;
  text-align: center;
  padding: 0.2em;
  font-size: 1.5em;
  border-radius: 0.2em;
  margin-bottom: 2em;
}
.cuadro-todobusco-slider-casabusco {
  border: 6px solid #ffa200;
  border-radius: 21px;
  overflow: hidden;
  height: 12.8em;
}
.icon-todobusco-slider {
  position: absolute;
  left: -1px;
  top: 6px;
  height: 17%;
}
.bl-slider {
  border-right: 3px solid #ffa200;
  position: absolute;
  top: 24px;
  height: 5em;
  width: 1em;
  right: 8px;
}
.br-slider {
  border-right: 3px solid #ffa200;
  position: absolute;
  top: 129px;
  height: 5em;
  width: 1em;
  left: -5px;
}
.title-slider-todobusco {
  color: #007f4c;
  padding: 0.5em;
  font-weight: bold;
}
.text-slider-todobusco {
  color: #424242;
}
.precio-slider {
  background: #007f4c;
  padding: 0.1em 1em;
  width: 50%;
  margin: 0 auto;
  border-radius: 0.5em;
  font-weight: bold;
  font-size: 1.2em;
}
.item-gallitoB {
  padding: 1em;
  display: inline-block;
  transition: all ease 0.3s;
}
.item-gallitoB:hover {
  transform: scale(1.1);
}
.bgred-todobusco {
  background: #d12626;
}
.borderojo-todobusco {
  border: 6px solid #d12626;
}
.br-slider-red {
  border-right: 3px solid #d12626;
}
.borde-azul-todobusco {
  border: 6px solid #0e5682;
}
.br-slider-azul {
  border-right: 3px solid #0e5682;
}
.borde-green-todobusco {
  border: 6px solid #b9bd33;
}
.br-slider-green {
  border-right: 3px solid #b9bd33;
}
.contenedor-slider-todobusco {
  border-bottom: 0.5em solid #007f4c;
}
@media screen and (max-width: 938px) {
  .owl-pagination {
    display: block;
  }
  .arrow-prev,
  .arrow-next {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .imagen-slider-empresa {
    height: 100%;
  }
  .cuadro-todobusco-slider-casabusco {
    background: #efb762;
  }
  .borde-azul-todobusco {
    background: #337dab;
  }
  .borde-green-todobusco {
    background: #ccd06b;
  }
  .borderojo-todobusco {
    background: #d8a3a3;
  }
}
@media screen and (max-width: 542px) {
  .post-gallito-title-txt {
    font-size: 1.1em;
    text-align: center;
  }
  .post-gallito-title {
    margin-bottom: 0em;
  }
  .contenedor-post-gallito {
    border-top: 1px solid #808080;
    padding: 1em 0em 0em 0em;
  }
}
@media screen and (max-width: 390px) {
  .imagen-slider-empresa {
    height: initial;
  }
}
@font-face {
  font-family: "calisto";
  src: url("../../../fonts/calisto/calisto.eot") format("embedded-opentype"), url("../../../fonts/calisto/calisto.woff") format("woff"), url("../../../fonts/calisto/calisto.ttf") format("truetype");
}
@font-face {
  font-family: "calibri";
  src: url("../../../fonts/calibri/calibri.eot") format("embedded-opentype"), url("../../../fonts/calibri/calibri.woff") format("woff"), url("../../../fonts/calibri/calibri.ttf") format("truetype");
}
body {
  margin: 2em;
  font-size: 16px;
}
.contenedor-paquetes-gallito {
  border: 6px solid #3a404b;
  background: #3a404b;
  width: 16em;
  font-family: calibri;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: inline-block;
}
.item-paquete {
  position: relative;
}
.titulo-paquete {
  background: #4e8ac8;
  color: #fff;
  font-size: 4em;
  text-align: center;
  line-height: 1;
  padding-top: 0.2em;
  padding-bottom: 0.1em;
  font-family: calibri;
  font-weight: bold;
  position: absolute;
  width: 4.4em;
  left: -0.3em;
  top: 0;
}
.contendido-item-paquete {
  padding-top: 5.5em;
}
.gallito-title {
  text-align: center;
  font-size: 1.4em;
}
.contendido-item-paquete {
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.text-gallito {
  color: #3a404b;
}
.text-com {
  color: #93b5da;
}
.gallito-title {
  border-bottom: 2px solid #0cb570;
}
ul {
  margin: 0;
  padding: 1em;
}
ul li {
  color: #0cb570;
}
.text-gray-paquete {
  color: #808080;
}
.precio-paquete {
  margin-top: 1em;
  text-align: center;
  font-size: 3em;
  color: #3a404b;
}
.triangle-left {
  position: absolute;
  transform: rotate(-180deg);
  bottom: -0.28em;
  width: 0;
  height: 0;
  border-right: 9px solid transparent;
  border-top: 9px solid transparent;
  border-left: 9px solid #3a404b;
  border-bottom: 9px solid #3a404b;
  z-index: -5;
}
.triangle-right {
  position: absolute;
  transform: rotate(90deg);
  bottom: -0.28em;
  width: 0;
  height: 0;
  right: 0;
  border-right: 9px solid transparent;
  border-top: 9px solid transparent;
  border-left: 9px solid #3a404b;
  border-bottom: 9px solid #3a404b;
  z-index: -5;
}
.btn-paquete {
  background: #000;
  display: inline-block;
  color: #fff;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  margin: 0 auto;
  border-radius: 5px;
  background: #4e8ac8;
  font-weight: bold;
  transition: all ease 0.3s;
  cursor: pointer;
}
.btn-paquete:hover {
  color: #fff;
  background: #3a404b;
}
.align-center-btn {
  text-align: center;
}
.item-paquete-radius-white {
  border-radius: 6px;
}
.item-paquete {
  background: #fff;
  border-radius: 6px;
  padding-bottom: 1em;
}
.txt-destacado {
  font-size: 0.35em;
  margin-top: -0.5em;
  font-weight: normal;
}
.titulo-paquete-center {
  padding-top: 0.05em;
}
.precio-paquete-center {
  margin-top: 0.55em;
}
.cl-blue-dark {
  margin-top: 1em;
}
.cl-blue-dark,
.cl-blue-light {
  text-align: center;
  font-size: 1.5em;
}
.cl-blue-dark {
  color: #3a404b;
  font-weight: bold;
}
.cl-blue-light {
  color: #23527c;
  line-height: 1;
  font-size: 1.3em;
}
