body {
  margin-top: 1em !important;
}
label {
  font-weight: normal;
}
textarea {
  resize: none;
}
.textarea {
  height: 6em;
  padding-left: 1em;
}
.formularioPersonaNatural {
  margin-top: 1em;
}
.paddingTD {
  padding-top: 2em;
  padding-bottom: 0.3em;
  padding-left: 1.2em;
}
.letraChica {
  font-size: 0.8em;
}
.marg1 {
  margin-left: 1em;
}
.colorCeleste {
  color: #05aadd;
}
input[type="radio"] {
  cursor: pointer;
}
.radiosSelectores {
  position: relative;
  top: 27%;
  left: 1.3%;
  z-index: 9;
}
.formularioEmpresa {
  display: none;
}
.spanRadio {
  margin-left: 1em;
  color: #05aadd;
}
.contenedorFormularioEpass {
  padding: 2em 1em;
  border: 1px solid #757873;
  border-radius: 5px;
  padding-bottom: 1em;
}
.subContenedorFormularioEpass {
  padding: 1em;
  border: 1px solid #757873;
  position: relative;
  border-radius: 5px;
}
.spanEpass {
  color: #05aadd;
  padding-left: 0px;
  padding-right: 0px;
}
.spanEncima {
  color: #05aadd;
  position: absolute;
  top: -12px;
  background: #fff;
}
.color_fondo {
  color: #fff;
}
.bloqueInput input {
  font-size: 0.8em;
  padding: 0.4em 1em;
}
.spanEpass,
.imputEpass {
  display: inline-block;
  vertical-align: middle;
}
.bloqueInput label {
  margin-bottom: 0px;
  padding: 0.3em;
}
.top10px {
  margin-top: 10px;
}
.selectpicker {
  padding: 0.3em 0.4em;
  background: #fff;
  color: #757873;
}
.slSinMarg {
  margin-left: -4px;
}
.clear {
  clear: both;
}
.sinpad {
  padding-left: 0;
  padding-right: 0;
}
.asteridcoValidaciones {
  text-align: right;
  color: #f28b00;
  position: relative;
  top: 10px;
}
.relative35 {
  text-align: right;
  color: #f28b00;
  position: relative;
  top: 35px;
}
.top3em {
  margin-top: 3em;
}
.cont_check {
  padding: 0em;
  padding-left: 2em;
  color: #757873;
  border: none;
}
.spanCheck {
  width: 88%;
}
.marg {
  margin-left: 1em;
  font-size: 0.9em;
}
.cont_check a {
  font-size: 0.9em;
  color: #757873;
  text-decoration: underline;
}
.inline-blockTop {
  display: inline-block;
  vertical-align: top;
}
.inline-block {
  display: inline-block;
  vertical-align: middle;
}
.btn_siguientePaso {
  text-align: right;
  padding: 1em 2em 1em 0em;
  margin-top: 1em;
}
.btn_siguientePaso a:hover {
  animation: animationButton 1s infinite;
}
.btn_siguientePaso a {
  text-decoration: none;
  background: #cedf00;
  padding: 1em 3em;
  border-radius: 11px;
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  .slSinMarg {
    margin-left: 0px;
  }
  .marg {
    margin-left: 0px;
  }
  .span_check {
    width: 90%;
    margin-left: 1em;
  }
  .btn_siguientePaso {
    margin-top: 1em;
  }
  .asteridcoValidaciones {
    top: 40px;
    margin-top: -2em;
  }
}
@-moz-keyframes animationButton {
  0% {
    background: #333;
  }
  50% {
    background: #2a6496;
    color: #fff;
  }
  100% {
    background: #333;
  }
}
@-webkit-keyframes animationButton {
  0% {
    background: #333;
  }
  50% {
    background: #2a6496;
    color: #fff;
  }
  100% {
    background: #333;
  }
}
@-o-keyframes animationButton {
  0% {
    background: #333;
  }
  50% {
    background: #2a6496;
    color: #fff;
  }
  100% {
    background: #333;
  }
}
@keyframes animationButton {
  0% {
    background: #333;
  }
  50% {
    background: #2a6496;
    color: #fff;
  }
  100% {
    background: #333;
  }
}
