//************** filtro gallito **************//
div(class="contenedor-filtro-gallito")
    div(class="bloque-filtro")
        i(class="icon-home icon-inline icon-pointer")
        a(href="#" class="title-block-filtro") Inicio
    div(class="bloque-filtro")
        i(class="icon-ver_avisos icon-inline icon-pointer")
        a(href="#" class="title-block-filtro avisos-left") Ver Avisos
    div(class="block-desplegable")
        div(class="block-desplegable-rectangle" id="id_mi_perfil")
            i(class="icon-mi_perfil icon-inline")
            span(class="title-block-filtro cl-white") Mi Perfil
            i(class="fa fa-angle-up icon-up-filter" aria-hidden="true")
            i(class="hideDiv fa fa-angle-down icon-down-filter" aria-hidden="true")
        div(class="contenedor-desplegado")
            div(class="block-dashed block-dashed-title") Perfil profesional
            div(class="block-dashed filtro-subcat")
                a(href="#" class="link-subcat") Experiencia
            div(class="block-dashed filtro-subcat")
                a(href="#" class="link-subcat") Estudios
            div(class="block-dashed filtro-subcat")
                a(href="#" class="link-subcat") Idiomas
            div(class="block-dashed filtro-subcat")
                a(href="#" class="link-subcat") Otros estudios
            div(class="block-dashed filtro-subcat")
                a(href="#" class="link-subcat") Referencias
            div(class="block-dashed block-dashed-title") Datos
            div(class="block-dashed filtro-subcat")
                a(href="#" class="link-subcat") Datos Personales
            div(class="block-dashed filtro-subcat")
                a(href="#" class="link-subcat") Cambio de clave
            div(class="block-dashed filtro-subcat")
                a(href="#" class="link-subcat") Mis alertas
    div(class="block-desplegable")
        div(class="block-desplegable-rectangle bg-blue" id="id_mis_postulaciones")
            i(class="icon-mis_postulaciones icon-inline")
            span(class="title-block-filtro cl-white") Mis postulaciones
            i(class="hideDiv fa fa-angle-up icon-up-filter" aria-hidden="true")
            i(class="fa fa-angle-down icon-down-filter" aria-hidden="true")
        div(class="contenedor-desplegado hideDiv")
            div(class="block-dashed filtro-subcat")
                a(href="#" class="link-subcat") Mis Postulaciones
    div(class="block-desplegable")
        div(class="block-desplegable-rectangle bg-blue" id="id_mis_notificaciones")
            i(class="icon-mis_notificaciones icon-inline")
            span(class="title-block-filtro cl-white") Mis notificaciones
            i(class="hideDiv fa fa-angle-up icon-up-filter" aria-hidden="true")
            i(class="fa fa-angle-down icon-down-filter" aria-hidden="true")
        div(class="contenedor-desplegado hideDiv")
            div(class="block-dashed filtro-subcat")
                a(href="#" class="link-subcat") Mis Notificaciones
    div(class="block-desplegable")
        div(class="block-desplegable-rectangle bg-blue" id="id_mi_curriculum")
            i(class="icon-mi_cv icon-inline")
            span(class="title-block-filtro cl-white") Mis curriculum
            i(class="hideDiv fa fa-angle-up icon-up-filter" aria-hidden="true")
            i(class="fa fa-angle-down icon-down-filter" aria-hidden="true")
        div(class="contenedor-desplegado hideDiv")
            div(class="block-dashed filtro-subcat")
                a(href="#" class="link-subcat") Mi Curriculum
//************** filtro gallito **************//