//************** icons gallitoPerfil **************//
div(class="contenedor-icon-gallito-perfil")
    div(class="contenedor-title-borde")
        span(class="title-text-borde")=vistaDashboard
        div(class="borde-inferior-titulo")
    div(class="contenedor-all-circle-gallitoPerfil-icon")
        a(id="id_cicrle_experiencia" href="#" class="contenedor-icon-img-fallitoPerfil")
            div(class="circle-sup ")
                div(class="circle-interno")
                    div(class="icon-experiencia icon-ease icon-inline icon-center-auto icon-translate")
                div(class="icon-check check-icon-view")
            div(class="circle-text") Experiencia
        a(id="id_circle_estudios" href="#" class="contenedor-icon-img-fallitoPerfil")
            div(class="circle-sup ")
                div(class="circle-interno  margin-icon-estudios")
                    div(class="icon-estudios icon-ease icon-inline icon-center-auto icon-translate")
                div(class="icon-check check-icon-view")
            div(class="circle-text") Estudios
        a(id="id_circle_idiomas" href="#" class="contenedor-icon-img-fallitoPerfil")
            div(class="circle-sup ")
                div(class="circle-interno  margin-icon-idomas")
                    div(class="icon-idiomas icon-ease icon-inline icon-center-auto icon-translate")
                div(class="icon-check check-icon-view")
            div(class="circle-text") Idiomas
        a(id="id_circle_otros_estudios" href="#" class="contenedor-icon-img-fallitoPerfil")
            div(class="circle-sup ")
                div(class="circle-interno  margin-icon-estudios_otros_estudios")
                    div(class="icon-otros_estudios icon-ease icon-inline icon-center-auto icon-translate")
                div(class="icon-check check-icon-view")
            div(class="circle-text") Otros Estudios
        a(id="id_circle_referencias" href="#" class="contenedor-icon-img-fallitoPerfil")
            div(class="circle-sup ")
                div(class="circle-interno  margin-icon-referencias")
                    div(class="icon-referencias icon-ease icon-inline icon-center-auto icon-translate")
                div(class="icon-check check-icon-view")
            div(class="circle-text") Referencias
        a(id="id_circle_datos_personales" href="#" class="contenedor-icon-img-fallitoPerfil")
            div(class="circle-sup ")
                div(class="circle-interno  margin-icon-datos_personales")
                    div(class="icon-datos_personales icon-ease icon-inline icon-center-auto icon-translate")
                div(class="icon-check check-icon-view")
            div(class="circle-text") Datos Personales
        a(id="id_circle_cv" href="#" class="contenedor-icon-img-fallitoPerfil")
            div(class="circle-sup ")
                div(class="circle-interno  margin-icon-estudios_cv")
                    div(class="icon-cv_circulo icon-ease icon-inline icon-center-auto icon-translate")
                div(class="icon-check check-icon-view")
            div(class="circle-text") CV
//************** icons gallitoPerfil **************//