//************** header gallito **************//
@font-face {
  font-family: "scfly";
  src: url("../../../fonts/scfly/scfly.eot") format("embedded-opentype"), url("../../../fonts/scfly/scfly.woff") format("woff"), url("../../../fonts/scfly/scfly.ttf") format("truetype");
}
@-moz-keyframes animationButton {
  0% {
	background: #823333;
  }
  50% {
	background: #e26a39;	
  }
  100% {
	background: #823333;
  }
}
@-webkit-keyframes animationButton {
  0% {
	background: #823333;
  }
  50% {
	background: #e26a39;	
  }
  100% {
	background: #823333;
  }
}
@-o-keyframes animationButton {
  0% {
	background: #823333;
  }
  50% {
	background: #e26a39;	
  }
  100% {
	background: #823333;
  }
}
@keyframes animationButton {
  0% {
	background: #823333;
  }
  50% {
	background: #e26a39;	
  }
  100% {
	background: #823333;
  }
}
header
	background:#353e4a;
	height:3.75em;
a:hover
	text-decoration:none
.relative
	position relative
.inline-block-top
	display:inline-block
	vertical-align:top
.inline-block-middle
	display:inline-block
	vertical-align:middle
.gallito-icon
	position: absolute;
	left: 1em;
	top: 0.4em;
	font-size: 1.7em;
.gallito-register-container
	position: absolute;
	right: 1em;
	top: 1em;
.gallito-icon-title
	color white;
.gallito-icon-com
	color:#99bde3;
.gallito-register-botton input
	background: #52749a;
	color: white;
	border: navajowhite;
	outline: none;
	-webkit-appearance: none;
	padding: 0.3em 1em;
.gallito-register-botton input:hover	
	animation: animationButton 1.5s infinite;
.gallito-text-blue
	font-weight: bold;
	color: #52749a;
	transition all ease 0.3s
.gallito-text-white
	color: white;
	font-weight: bold;
	transition all ease 0.3s
.gallito-register-text
	margin-left 1em
.gallito-text-blue:hover
	color #e26a39
.gallito-text-white:hover
	color #e26a39

@media screen and (max-width: 560px)
	.gallito-icon,.gallito-register-container
		position initial
		text-align center
	header
		height inherit
		padding 0.5em	
//************** header gallito **************//
