//************** gallito  **************//
extends ./layout.jade
block content
	- rutaImagenes ='../../../imagenes'
	header(class="relative")
		div(class="gallito-icon")
			a(href="#")
				span(class="gallito-icon-title") gallito
				span(class="gallito-icon-com") .com
		div(class="gallito-register-container")
			div(class="gallito-register-botton inline-block-middle")
				input(type="button" value="Soy una empresa")
			div(class="gallito-register-text inline-block-middle")
				a(class="gallito-text-blue" href="#") Registrate 
				a(class="gallito-text-white" href="#")  o Ingresa

//************** gallito  **************//