//************** icons gallitoPerfil **************//
extends ./layout.jade
block content
    - rutaImagenes ='../../../imagenes'
    div(class="contenedor-icon-gallito-perfil")
        div(class="contenedor-title-borde")
            span(class="title-text-borde") Mi Pefil
            div(class="borde-inferior-titulo")
    div(class="contenedor-all-circle-gallitoPerfil-icon")
        a(href="#" class="contenedor-icon-img-fallitoPerfil")
            div(class="circle-sup bg-green")
                div(class="circle-interno bg-green")
                    div(class="icon-experiencia icon-ease icon-inline icon-center-auto icon-translate")
                div(class="icon-check check-icon-view")
            div(class="circle-text") Experiencia
        a(href="#" class="contenedor-icon-img-fallitoPerfil")
            div(class="circle-sup bg-yellow")
                div(class="circle-interno bg-yellow margin-icon-estudios")
                    div(class="icon-estudios icon-ease icon-inline icon-center-auto icon-translate")
                div(class="icon-check check-icon-view")
            div(class="circle-text") Estudios
        a(href="#" class="contenedor-icon-img-fallitoPerfil")
            div(class="circle-sup bg-yellow")
                div(class="circle-interno bg-yellow margin-icon-idomas")
                    div(class="icon-idiomas icon-ease icon-inline icon-center-auto icon-translate")
                div(class="icon-check check-icon-view")
            div(class="circle-text") Idiomas
        a(href="#" class="contenedor-icon-img-fallitoPerfil")
            div(class="circle-sup bg-green")
                div(class="circle-interno bg-green margin-icon-estudios_otros_estudios")
                    div(class="icon-otros_estudios icon-ease icon-inline icon-center-auto icon-translate")
                div(class="icon-check check-icon-view")
            div(class="circle-text") Otros Estudios
        a(href="#" class="contenedor-icon-img-fallitoPerfil")
            div(class="circle-sup bg-red")
                div(class="circle-interno bg-red margin-icon-referencias")
                    div(class="icon-referencias icon-ease icon-inline icon-center-auto icon-translate")
                div(class="icon-check check-icon-view")
            div(class="circle-text") Referencias
        a(href="#" class="contenedor-icon-img-fallitoPerfil")
            div(class="circle-sup bg-green")
                div(class="circle-interno bg-green margin-icon-datos_personales")
                    div(class="icon-datos_personales icon-ease icon-inline icon-center-auto icon-translate")
                div(class="icon-check check-icon-view")
            div(class="circle-text") Datos Personales
        a(href="#" class="contenedor-icon-img-fallitoPerfil")
            div(class="circle-sup bg-red")
                div(class="circle-interno bg-red margin-icon-estudios_cv")
                    div(class="icon-cv_circulo icon-ease icon-inline icon-center-auto icon-translate")
                div(class="icon-check check-icon-view")
            div(class="circle-text") CV
//************** icons gallitoPerfil **************//
