//************** icons gallitoPerfil **************//
blueDark=#353e4a
green=#009933
yellow=#ffcc33
red=#cc0000
@font-face {
  font-family: "calibri";
  src: url("../../../fonts/calibri/calibri.eot") format("embedded-opentype"), url("../../../fonts/calibri/calibri.woff") format("woff"), url("../../../fonts/calibri/calibri.ttf") format("truetype");
}
.icon-inline
	display inline-block
	vertical-align middle
.icon-pointer
	cursor pointer
body
    margin 0
    font-size 16px
.contenedor-title-borde
	position relative
	font-family calibri
.title-text-borde
	font-weight bold
	color blueDark
	font-size 1.3em
	padding-right 0.5em
	background white
	display inline-block
.borde-inferior-titulo
	background blueDark
	height 0.1em
	width 100%
	position absolute
	bottom 8px;
	z-index -1
.circle-sup
	display inline-block
	height 4.8em
	width 4.8em
	border-radius 50%
	padding 0.1em
.circle-interno
	border 1px solid white
	border-radius 50%
	height 100%
	width 100%
	text-align center
	padding-top 1em
.contenedor-icon-img-fallitoPerfil
	cursor pointer
	display inline-block
	width 14%
	min-width 7em
	text-align center
	margin-bottom 0.5em
.contenedor-all-circle-gallitoPerfil-icon
	padding 1.5em 1em
	text-align center
.circle-text
	font-family calibri
	color blueDark
	font-weight bold
	margin-top 0.3em
	transition all ease 0.3s
.check-icon-view
	margin 0 auto
	margin-top -0.8em
	transition all ease 0.4s
.transalate-icon-efect
	transform translate(0,6px)
.transalate-icon-check
	transform translate(0,-70px)
.bg-yellow
	background yellow
.bg-green
	background green
.bg-red
	background red
.margin-icon-estudios
	padding-top 0.8em
.margin-icon-idomas
	padding-top 0.6em
.margin-icon-referencias
	padding-top 0.7em
.margin-icon-datos_personales
	padding-top 1.2em
.margin-icon-estudios_cv
	padding-top 0.8em
//************** icons gallitoPerfil **************//
