//************** header clickslogic **************//
colorDeLetraHoverDesktop=#E8902F
colorDeFondoAlDarleHoverMovil=#f02228
bordeInferiorMovil=#cacfdc
colorLetra=#6F6969
.Contenedor-NavegacionMenu
    font-size 10px
.img-clicks-logic
    height 5.5em
    background white
    border-bottom-left-radius 100%;
.img-clicks-logic img
    height 3.9em
    position absolute
    right 7%
    top 3%
.sinPaddinBosstrap
    padding-right 0
    padding-left 0
.cuadro-orange
    background #FE5419
    height 6.64em
.clickLogix-text-L
    font-weight bold
    font-size 4.2em
.link-header
    color #2D2D2D
    display block
    font-size 0.9em
.contenedor-link-header
    width 20%
    text-align right
    vertical-align top
    margin-top 2em
.clickLogix-punto
    height 1.3em
    width 1.3em
    display inline-block
    background gray
    transform rotate(-45deg)
    position relative
    left 245px
    top -47px
.bloque-borrar-punto-i
    height 0.7em
    width 0.7em
    position relative
    left 265px
    top -37px
    display inline-block
    background white
.clickLogix-sub-punto
    height 0.7em
    width 0.7em
    background #2D2D2D
.clickLogix-text
    color #2D2D2D
    font-weight bold
    font-size 4em
.clickLogix
    width 55%
    text-align center
.caurto-circle
    height 0.86em
    width 0.83em
    display inline-block
.mts-txt
    font-style italic
    font-size 1.1em
.MTS-header-first-bloque
    height 5.6em
    margin-top -1.5em
.mts-circulos
    margin-left 1.5em
.circle-part-white
    background white
.circle-1-2 .circle-right-bottom
    height 1em
.circle-clickslogic
    height 1.8em
    width 1.8em
    border-radius: 50%
    border 1px solid white;
    overflow hidden
.inline-block
    display inline-block
.mts-title
    font-size 5em
    font-weight bold
.mts-title,.mts-circulos
    display inline-block
    vertical-align middle
.MTS-header
    background #FE5419
    color white
    padding 0.06em
    padding-right 3em
    min-width 20em
    width 100%;
.img-Logo
    @media screen and (max-width: 412px)    
        height 3em
.Boton-Movil
    display none
.Navegacion-Menu
    display none
    & ul
        list-style none     
        margin 0px
        & li
            border-right 1px solid colorLetra
            padding 0.2em 1em 0em 2em
    & a
        padding-left 0.4em
        padding-right 0.4em
        color colorLetra
        transition all ease 0.4s
        cursor pointer
        text-decoration none
        height 2em
        &:hover
            color colorDeLetraHoverDesktop
    .active
        color colorDeLetraHoverDesktop
        //text-decoration underline
    @media screen and (max-width: 1137px)       
        display none
.Boton-Movil
    display none
    @media screen and (max-width: 1137px)
        //display block
.fa-angle-double-down
    cursor pointer
    font-size 2em !important
    color gray
    transition all ease 0.3s
    &:hover
        color colorDeLetraHoverDesktop
.imagen-mts
    width: 18%
    margin-top: 0.2em
.text-logo-mts
    font-size: 1em;
    color: white;
    margin-left: 0.4em;
    max-width: 68%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-top: 1em;
.Navegacion-Menu-Movil
    height 0px
    overflow hidden
    transition all ease 0.5s
    & ul
        margin 0
        list-style none
        padding 0
        text-align center
        border-bottom 1px solid colorDeLetraHoverDesktop
    & li
        background colorDeLetraHoverDesktop
        transition all ease 0.3s
        cursor pointer
        &:hover
            background colorDeFondoAlDarleHoverMovil
        & a
            padding-top 0.3em
            padding-bottom 0.3em
            border-bottom 1px solid bordeInferiorMovil
            width 100%
            display inline-block
            color white
    @media screen and (max-width: 1137px)
        height 0px
@media screen and (max-width: 1320px)
    .clickLogix
        width 52%
    .contenedor-link-header
        width 18%
@media screen and (min-width: 450px)
    .Contenedor-NavegacionMenu
        font-size 13px
@media screen and (min-width: 700px)
    .Contenedor-NavegacionMenu
        font-size 16px
    .cuadro-orange
        height 6.67em
    .img-clicks-logic img
        font-size 19px
@media screen and (min-width: 900px)
    .Contenedor-NavegacionMenu
        font-size 18px
    .caurto-circle
        width 0.85em
    .img-clicks-logic img
        height initial
//************** header clickslogic **************//
