//************** header twincitos **************//
extends ./layout.jade
block content
    - rutaImagenes ='../../../../static/imagenes'
    header(id="header-twinci-developers")
        div(class="contenedor-text-twinci")
            div(class="text-twinci-left") TWINCI
            div(class="text-twinci-rigt") Deevelopers
        div(class="contenedor-img-header")
            img(src=rutaImagenes+"/individuales/twincitos/twincitos.jpg")
        div(class="contenido-text").
            Yesenia y Daniel son una pareja de desarrolladores que juntos han aprendido muchas tecnologías para poder construir aplicaciones web robustas. y Nos complace compartir con ustedes todo lo aprendido para que puedas ser un desarrollador web
    div(class="line-all")
    div(class="contenedor-arrow")
        i(class="fa fa-angle-left" aria-hidden="true")
//************** header twincitos **************//
