//************** footer gallito **************//
- rutaImagenes ='../../../imagenes'
extends ./layout.jade
block content
	footer
		div(class="row footer-gallit-block-1 smb")
			div(class="col-xs-6 col-sm-6 col-md-4 bloq-foot bloq-foot-left pad-mob-foot")
				div(class="footer-gallito-title") Trabajo.gallito.com.uy
				div(class="leter-footer-gallito") Preguntas Frecuentes
				div(class="leter-footer-gallito") Términos y Condiciones
				div(class="leter-footer-gallito") &nbsp;
			div(class="col-xs-6 col-sm-6 col-md-2 bloq-foot pad-mob-foot")
				div(class="footer-gallito-title") Postulantes
				div(class="leter-footer-gallito") Busca Trabajo
				div(class="leter-footer-gallito") Crea tu cuenta
				div(class="leter-footer-gallito") Ingresa
			div(class="col-xs-6 col-sm-6 col-md-2 bloq-foot bloq-foot-3-1 pad-mob-foot")
				div(class="footer-gallito-title") Empresa
				div(class="leter-footer-gallito") Publica tu aviso
				div(class="leter-footer-gallito") Crea tu cuenta
				div(class="leter-footer-gallito") Ingresa
			div(class="col-xs-6 col-sm-6 col-md-4 bloq-foot pad-mob-foot")
				div(class="footer-gallito-title") Central de ayuda
				div(class="leter-footer-gallito") (01)311-6707 - Opción 3
				div(class="leter-footer-gallito") Lunes a viernes de 8:00am a 6:00pm
				div(class="leter-footer-gallito")
					i(class="fa fa-copyright" aria-hidden="true")
					span Todos los derechos reservados - 2016
		div(class="row footer-gallit-block-2 smb")
			div(class="col-xs-12 col-sm-3 col-md-3 block-2-letter")
				div(class="logo-footer-galito")
					span(class="gallito-letter-logo-footer-first") gallito.
					span(class="gallito-letter-logo-footer-last") com
				div(class="color-fot-gallito-letter") Aviso nuevo todos los días
			div(class="col-xs-12 col-sm-6 col-md-6 block-2-letter")
				div
					strong.
						El Libro de los Clasificados - Zelmar Michelini 1287, Montevideo - 11100 Uruguay
				div Fundada el 30/10/1983 por: Carlos E. Scheck, Eduardo Scheck y Daniel Scheck
				div() Aviso nuevo todos los días
				div() Clasitelefono 131
			div(class="col-xs-12 col-sm-3 col-md-3 block-2-letter")
				div(class="redes-sociales-footer-gallito")
					i(class="fa fa-envelope" aria-hidden="true")
					i(class="fa fa-linkedin-square" aria-hidden="true")
					i(class="fa fa-twitter-square" aria-hidden="true")
					i(class="fa fa-facebook-square" aria-hidden="true")
//************** footer gallito **************//
