//************** icons gallito **************//
extends ./layout.jade
block content
    - rutaImagenes ='../../../imagenes'
    div(class="contenedor-gallito-icons")
        div(class="row post-gallito-title smB")
            div(class="post-gallito-title-txt") Elige el área de tu interés
            div(class="post-gallito-title-borde")
        div(class="contenedor-area-interes-icons")
            div(class="area-interes-icon-cuadro")
                div(class="contenedor-img-icon-area-interes")
                    img(src="http://cds.dev.gallito.clickslatam.com/tg/imagenes/area-icon/servicios-oficios.fw.png")
                span(class="span-icon-area-interes icon-pad-1") Servicios / Oficios(f)
            div(class="area-interes-icon-cuadro")
                div(class="contenedor-img-icon-area-interes")
                    img(src="http://cds.dev.gallito.clickslatam.com/tg/imagenes/area-icon/ventas-comercial.fw.png")
                span(class="span-icon-area-interes icon-pad-1") Ventas / Comercial(f)
            div(class="area-interes-icon-cuadro")
                div(class="contenedor-img-icon-area-interes")
                    img(src="http://cds.dev.gallito.clickslatam.com/tg/imagenes/area-icon/produccion.fw.png")
                span(class="span-icon-area-interes") Producción
            div(class="area-interes-icon-cuadro")
                div(class="contenedor-img-icon-area-interes")
                    img(src="http://cds.dev.gallito.clickslatam.com/tg/imagenes/area-icon/administracion-secretariado.fw.png")
                span(class="span-icon-area-interes") Holería / Turismo / Gastronomía
            div(class="area-interes-icon-cuadro")
                div(class="contenedor-img-icon-area-interes")
                    img(src="http://cds.dev.gallito.clickslatam.com/tg/imagenes/area-icon/seguridad-vigilancia.fw.png")
                span(class="span-icon-area-interes") Administración / Secretariado
            div(class="area-interes-icon-cuadro")
                div(class="contenedor-img-icon-area-interes")
                    img(src="http://cds.dev.gallito.clickslatam.com/tg/imagenes/area-icon/cadeteria-cobranzas.fw.png")
                span(class="span-icon-area-interes icon-pad-1") Medicina / Salud
            div(class="area-interes-icon-cuadro")
                div(class="contenedor-img-icon-area-interes")
                    img(src="http://cds.dev.gallito.clickslatam.com/tg/imagenes/area-icon/cadeteria-cobranzas.fw.png")
                span(class="span-icon-area-interes icon-pad-1") Cadetería / Cobranzas
            div(class="area-interes-icon-cuadro")
                div(class="contenedor-img-icon-area-interes")
                    img(src="http://cds.dev.gallito.clickslatam.com/tg/imagenes/area-icon/finanzas-contabilidad-auditoria.fw.png")
                span(class="span-icon-area-interes icon-pad-1") Logística / Distribución
            div(class="area-interes-icon-cuadro")
                div(class="contenedor-img-icon-area-interes")
                    img(src="http://cds.dev.gallito.clickslatam.com/tg/imagenes/area-icon/logistica-distribucion.fw.png")
                span(class="span-icon-area-interes") Educación / Deportes / Recreación
            div(class="area-interes-icon-cuadro")
                div(class="contenedor-img-icon-area-interes")
                    img(src="http://cds.dev.gallito.clickslatam.com/tg/imagenes/area-icon/atencion-al-cliente.fw.png")
                span(class="span-icon-area-interes") Finanzas / Auditoría / Contabilidad(f)
            div(class="area-interes-icon-cuadro")
                div(class="contenedor-img-icon-area-interes")
                    img(src="http://cds.dev.gallito.clickslatam.com/tg/imagenes/area-icon/educacion-recreacion-deportes.fw.png")
                span(class="span-icon-area-interes icon-pad-1") Sistemas / TI
            div(class="area-interes-icon-cuadro")
                div(class="contenedor-img-icon-area-interes")
                    img(src="http://cds.dev.gallito.clickslatam.com/tg/imagenes/area-icon/construccion-arquitectura.fw.png")
                span(class="span-icon-area-interes") Teleoperadores / Callcenter(f)
            div(class="area-interes-icon-cuadro")
                div(class="contenedor-img-icon-area-interes")
                    img(src="http://cds.dev.gallito.clickslatam.com/tg/imagenes/area-icon/agroindustria.fw.png")
                span(class="span-icon-area-interes") Arte / Diseño / Comunicación
            div(class="area-interes-icon-cuadro")
                div(class="contenedor-img-icon-area-interes")
                    img(src="http://cds.dev.gallito.clickslatam.com/tg/imagenes/area-icon/recursos-humanos.fw.png")
                span(class="span-icon-area-interes icon-pad-1") Seguridad / Vigilancia
            div(class="area-interes-icon-cuadro")
                div(class="contenedor-img-icon-area-interes")
                    img(src="http://cds.dev.gallito.clickslatam.com/tg/imagenes/area-icon/directivos-ejecutivos.fw.png")
                span(class="span-icon-area-interes") Legal
            div(class="area-interes-icon-cuadro")
                div(class="contenedor-img-icon-area-interes")
                    img(src="http://cds.dev.gallito.clickslatam.com/tg/imagenes/area-icon/consultoria.fw.png")
                span(class="span-icon-area-interes") Agroindustria
            div(class="area-interes-icon-cuadro")
                div(class="contenedor-img-icon-area-interes")
                    img(src="http://cds.dev.gallito.clickslatam.com/tg/imagenes/area-icon/comercio-exterior.fw.png")
                span(class="span-icon-area-interes icon-pad-1") Directivos / Ejecutivos
            div(class="area-interes-icon-cuadro")
                div(class="contenedor-img-icon-area-interes")
                    img(src="http://cds.dev.gallito.clickslatam.com/tg/imagenes/area-icon/legal.fw.png")
                span(class="span-icon-area-interes icon-pad-1") Construcción / Arquitectura
            div(class="area-interes-icon-cuadro")
                div(class="contenedor-img-icon-area-interes")
                    img(src="http://cds.dev.gallito.clickslatam.com/tg/imagenes/area-icon/trabajo-social-pasantias.fw.png")
                span(class="span-icon-area-interes") Atención al cliente
            div(class="area-interes-icon-cuadro")
                div(class="contenedor-img-icon-area-interes")
                    img(src="http://cds.dev.gallito.clickslatam.com/tg/imagenes/area-icon/servicios-oficios.fw.png")
                span(class="span-icon-area-interes") Consultoría
            div(class="area-interes-icon-cuadro")
                div(class="contenedor-img-icon-area-interes")
                    img(src="http://cds.dev.gallito.clickslatam.com/tg/imagenes/area-icon/finanzas-contabilidad-auditoria.fw.png")
                span(class="span-icon-area-interes") Recursos Humanos
            div(class="area-interes-icon-cuadro")
                div(class="contenedor-img-icon-area-interes")
                    img(src="http://cds.dev.gallito.clickslatam.com/tg/imagenes/area-icon/consultoria.fw.png")
                span(class="span-icon-area-interes icon-pad-1") Marketing / Publicidad(f)
            div(class="area-interes-icon-cuadro")
                div(class="contenedor-img-icon-area-interes")
                    img(src="http://cds.dev.gallito.clickslatam.com/tg/imagenes/area-icon/administracion-secretariado.fw.png")
                span(class="span-icon-area-interes icon-pad-1") Trabajo Social / Pasantías
            div(class="area-interes-icon-cuadro")
                div(class="contenedor-img-icon-area-interes")
                    img(src="http://cds.dev.gallito.clickslatam.com/tg/imagenes/area-icon/atencion-al-cliente.fw.png")
                span(class="span-icon-area-interes") Comercio Exterior
            div(class="area-interes-icon-cuadro")
                div(class="contenedor-img-icon-area-interes")
                    img(src="http://cds.dev.gallito.clickslatam.com/tg/imagenes/area-icon/directivos-ejecutivos.fw.png")
                span(class="span-icon-area-interes icon-pad-1") Llamados / Concursos
//************** icons gallito **************//
