/************** icons todobusco **************/
@font-face {
  font-family: "scfly";
  src: url("../../../fonts/scfly/scfly.eot") format("embedded-opentype"), url("../../../fonts/scfly/scfly.woff") format("woff"), url("../../../fonts/scfly/scfly.ttf") format("truetype");
}
@-moz-keyframes animationButtonBuscadorHref {
  0% {
    background: #007f4c;
  }
  50% {
    background: #ffa200;
    color white
  }
  100% {
    background: #007f4c;
  }
}
@-webkit-keyframes animationButtonBuscadorHref {
  0% {
    background: #007f4c;
  }
  50% {
    background: #ffa200;
    color white
  }
  100% {
    background: #007f4c;
  }
}
@-o-keyframes animationButtonBuscadorHref {
  0% {
    background: #007f4c;
  }
  50% {
    background: #ffa200;
    color white
  }
  100% {
    background: #007f4c;
  }
}
@keyframes animationButtonBuscadorHref {
  0% {
    background: #007f4c;
  }
  50% {
    background: #ffa200;
    color white
  }
  100% {
    background: #007f4c;
  }
}
.borde-green
    background #007f4c
    height 1em
    width 100%
.cuadro-icons-todobusco
    display inline-block
    width 14%
    margin-right 4%
.cuadro-icons-todobusco img
    width 100%
.contenedor-icons-todobusco-img
    text-align center
    padding 2em 0em
.contenedor-btn-publica-aviso-todobusco
    text-align center
.btn-publica-aviso-todobusco
    color: white;
    padding: 0.2em 1em;
    background: #007f4c;
    border-radius: 0.4em;
    font-size: 2em;
    vertical-align middle
    font-family scfly
.btn-publica-aviso-todobusco:hover
     animation animationButtonBuscadorHref 1s infinite
     color:white 
.blg
    border-left: 0.2em solid #007f4c;
    padding: 0.3em 0.2em;
    vertical-align: middle;
.brg
    border-right: 0.2em solid #007f4c;
    padding: 0.3em 0.15em;
    vertical-align: middle;
.contenedor-icons-todobusco
    border-bottom: 1em solid #cccccc;
    padding-bottom: 2em
/************** icons todobusco **************/
