//************** icons todobusco **************//
extends ./layout.jade
block content
    - rutaImagenes ='../../../imagenes'
    div(class="contenedor-icons-todobusco")
        div(class="borde-green")
        div(class="contenedor-icons-todobusco-img")
            a(href="#" class="cuadro-icons-todobusco")
                img(src="http://dev.todobusco.com/img/todobusco/home/logo-casabusco.svg")
            a(href="#" class="cuadro-icons-todobusco")
                img(src="http://dev.todobusco.com/img/todobusco/home/logo-carrobusco.svg")
            a(href="#" class="cuadro-icons-todobusco")
                img(src="http://dev.todobusco.com/img/todobusco/home/logo-empleobusco.svg")
            a(href="#" class="cuadro-icons-todobusco")
                img(src="http://dev.todobusco.com/img/todobusco/home/logo-ventabusco.svg")
        div(class="contenedor-btn-publica-aviso-todobusco")
            span(class="blg")
            a(href="#" class="btn-publica-aviso-todobusco") Publica tu anuncio
            span(class="brg")
//************** icons todobusco **************//
