.hola {
  height: 50em;
}
.posit-Epass-Container {
  position: fixed;
  background: #fff;
  right: 0;
  top: 25%;
}
.posit-Epass-Consulta-Oculta {
  color: #fff;
  width: 3em;
  cursor: pointer;
  float: right;
  font-weight: bold;
  font-size: 1.4em;
  line-height: 1.23em;
  border-radius: 0.2em;
}
.posit-Epass-Consulta-Oculta {
  display: none;
}
.posit-Epass {
  width: 8em;
}
.posit-Epass-Titulo,
.posit-Epass-Footer {
  background: #e0333d;
  color: #fff;
  text-align: center;
  height: 2em;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
}
.posit-Epass-MisSaldos {
  height: 7.05em;
  color: #e0333d;
  border-right: 1px solid #f90;
  border-top: 1px solid #f90;
  border-bottom: 1px solid #f90;
  display: inline-block;
  vertical-align: top;
  margin-left: -4px;
  width: 6.2em;
}
.posit-Epass-titulo {
  font-size: 1.1em;
}
.ePass-flecha {
  font-size: 2em;
}
.fa-refresh,
.fa-hand-o-up,
.fa-credit-card {
  font-size: 1.5em;
}
.posit-Epass-MisSaldos-Contenido {
  text-align: center;
  font-size: 0.7em;
  padding: 0.7em;
  color: #f90;
  padding-top: 1.9em;
}
.fa-angle-right,
.fa-angle-left {
  font-size: 1.5em;
}
.letras-90deg {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}
.posit-Epass-titulo-Flecha {
  height: 6.4em;
  width: 1.4em;
  padding-top: 2.4em;
  background: #f90;
}
.ContenidoTextoScorcard {
  padding-top: 0.5em;
}
.texto-scorecard {
  font-size: 1.4em;
  line-height: 1.2em;
}
.bloques-ocultos {
  display: inline-block;
  vertical-align: top;
}
.bloque-oculto-izquierda {
  background: #f90;
  height: 2em;
  width: 1em;
  text-align: center;
  padding-top: 0.2em;
}
.bloque-oculto-derecha {
  border-right: 1px solid #f90;
  border-top: 1px solid #f90;
  border-bottom: 1px solid #f90;
  margin-left: -5px;
  color: #f90;
  height: 2em;
  width: 1.8em;
  text-align: center;
  padding-top: 0.5em;
}
