//************** publicidad epassFlecha **************//
extends ./layout.jade
block content
    - rutaImagenes ='../../../imagenes'
    div(class="ContenedorCuadroFlecha")
        div(class="titulo-epassFlecha") Paquete Seleccionado
        div(class="contenedorPubli")
            div(class="titulo-Naranja") Plan Individual
            div(class="flechaConCss")
                i(class="fa fa-long-arrow-right")
            div(class="titulo-Naranja") Paquete de 50 mil
//************** publicidad epassFlecha **************//
