//************** menu clickslogic **************//
color-celeste = #0097D9
color-naranja=#FE5419
color-gris=#666666
color-amarillo=#FF9900
.breadcrumb
	margin-top 1em !important
	font-weight bold
.breadcrumb a
	color color-celeste !important
.breadcrumb>li+li:before
	color color-celeste !important
	content ">" !important
.img-idioma
	width   20px
	margin-right: 13px;
.datos-personales
	display block
	text-align center
	font-weight bold
.bienvenido
	font-size 1.3em
.cargo
	font-size 0.9em
.empresa
	color #FE5419
.select-idioma
	padding-right 3em
	text-align right
	margin-top 1em
.dropdown-menu
	min-width 0px
.btn-group .btn
	border none
.bloque-gris
	background color-gris
	padding 0.6em
	& a
		color:white !important
		text-decoration underline
.bloque-amarillo
	background color-amarillo
	padding 0.2em
	margin-top 5px
	color:white !important
	text-align center
	& a
		color:white !important
		text-decoration underline
	& p
		margin 0px;
.cambio-password
	text-align left
	padding-left 3em
.cerrar-sesion
	text-align right
	padding-right 3em
.icon-i
	text-align right
	font-size 3em
@media (max-width: 767px)
	.select-idioma
		margin-top 0em
	.cambio-password
		padding-left 1.2em
	.cerrar-sesion
		padding-right 1.2em
	.bloque-gris
		padding 0.1em
	.icon-i
		font-size 2em
@media(max-width:400px)
	.bloque-amarillo
		font-size 12px;
//************** menu clickslogic **************//
