//************** slider touch **************//
extends ./layout.jade
block content
    - rutaImagenes ='../../../imagenes'
    div(id="demo")
      div(class="container")
        div(class="row")
          div(class="span12")
            div(id="owl-demo" class="owl-carousel")
              div(class="item")
                h1 1
              div(class="item")
                h1 2
              div(class="item")
                h1 3
              div(class="item")
                h1 4
              div(class="item")
                h1 5
              div(class="item")
                h1 6
              div(class="item")
                h1 7
              div(class="item")
                h1 8
              div(class="item")
                h1 9
              div(class="item")
                h1 10
              div(class="item")
                h1 11
              div(class="item")
                h1 12
              div(class="item")
                h1 13
              div(class="item")
                h1 14
              div(class="item")
                h1 15
              div(class="item")
                h1 16
            div(class="customNavigation")
              a(class="btn prev") Previous
              a(class="btn next") Next
              a(class="btn play") Autoplay
              a(class="btn stop") Stop
//************** slider touch **************//
