/************* input asep************/
colorDeX=white
backgroundDeX=#2ca7df
colorBordeInput=gray
paddingleftInnput=0.5em
tamanioInput=22em
.InputAsep
	background: colorInput
	-moz-appearance: none
	-webkit-appearance: none
	appearance: none
	font-size: 12px
	padding: 8px
	width: tamanioInput
	border-top-width: 1px //TamanioTopWidthInput
	border-left-width: 1px //TamanioLeftWidthInput
	border-right-width: 1px //TamanioRightWidthInput
	border-radius: 5px
	border-bottom-width: 1px //TamanioBottomWidthInput
	border-style: solid
.input[type="text"]:focus:invalid
	border: 2px solid red

.error
	background: #F7F2F2 url(../../../imagenes/x.png) right center
	-moz-appearance: none
	-webkit-appearance: none
	appearance: none
	-webkit-boxshadow: 0 0 10px rgba(0, 0, 0, 0.3)
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
	-o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
	/*box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)*/
	color: #fff
	display: none
	font-size: 14px
	margin-top: -30px
	margin-left: 170px //tamanioMensaje:
	padding: 14px
	position: absolute
.errorA
	background: red
	-moz-appearance: none
	-webkit-appearance: none
	appearance: none
	-webkit-boxshadow: 0 0 10px rgba(0, 0, 0, 0.3)
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
	-o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
	/*box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)*/
	color: #fff
	display: none
	font-size: 14px
	margin-top: -30px
	margin-left: 170px //tamanioMensaje:
	padding: 6px
	position: absolute
.errorB
	background: red
	-moz-appearance: none
	-webkit-appearance: none
	appearance: none
	-webkit-boxshadow: 0 0 10px rgba(0, 0, 0, 0.3)
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
	-o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
	/*box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)*/
	color: #fff
	display: none
	font-size: 14px
	margin-top: -30px
	margin-left: 170px //tamanioMensaje:
	padding: 6px
	position: absolute
	
/************* input asep************/