// input fileAsep
extends ./layout.jade
block content
    - rutaImagenes ='../../../imagenes'
    - contenido="Browse"
    label(class="cargar")
        span=contenido
            input(type="file" id="archivo" name="archivo")
// input fileAsep