/*************** input File Asep ****************/
colorDeLetra=#4e4444
colorDeBorde=#4e4444
background=white
ancho=150px
alto=30px
tamanioLetra=18px
input[type="file"]
    z-index 999
    line-height 0
    font-size 50px
    position absolute
    opacity 0
    margin 0
    padding 0
    left 0

.cargar
    text-align center
    background-color background
    color colorDeLetra
    border 1px solid colorDeBorde
    display block
    border-radius 3px
    width ancho
    height alto
    font-size tamanioLetra
    float left
    line-height 1.6em
    cursor pointer
input[type="text"]
    float left
    border 1px solid gray
    background #DEDEDE
    height 26px
    
/*************** input File Asep ****************/

