//************** slider ePass **************//
extends ./layout.jade
block content
    - rutaImagenes ='../../../imagenes'
    #cbp-fwslider.cbp-fwslider
      ul
        li
          a(href='#')
            img(src='http://www.publivisionweb.com/inicio/images/sliders/full_slider/slide4.jpg', alt='img01')
        li
          a(href='#')
            img(src='http://www.publivisionweb.com/inicio/images/sliders/full_slider/slide4.jpg', alt='img02')
        li
          a(href='#')
            img(src='http://www.publivisionweb.com/inicio/images/sliders/full_slider/slide4.jpg', alt='img03')
        li
          a(href='#')
            img(src='http://www.publivisionweb.com/inicio/images/sliders/full_slider/slide4.jpg', alt='img04')
        li
          a(href='#')
            img(src='http://www.publivisionweb.com/inicio/images/sliders/full_slider/slide4.jpg', alt='img05')
//************** slider ePass **************//
