//************** paquete gallito **************//
extends ./layout.jade
block content
    - rutaImagenes ='../../../imagenes'
    div(id="slider_3_demo")
        div(class="container")
            div(class="row")
                div(class="span12")
                    div(id="owl-slider_3" class="owl-carousel")             
                        div(class="item")
                            div(class="contenedor-paquetes-gallito")
                                div(class="item-paquete")
                                    div(class="item-paquete-radius-white")
                                        div(class="contenedor-titulo-paquete") 
                                            span(class="titulo-paquete") 
                                                span WEB
                                                div(class="triangle-left")
                                                div(class="triangle-right")
                                        div(class="contendido-item-paquete")
                                            div(class="gallito-title")
                                                span(class="text-gallito") gallito
                                                span(class="text-com") .com
                                            ul
                                                li 
                                                    span(class="text-gray-paquete") Aviso publicado por 30 días.
                                            div(class="precio-paquete") $600
                                        div(class="align-center-btn")
                                            a(href="#" class="btn-paquete") Publicar Ya
                        div(class="item")
                            div(class="contenedor-paquetes-gallito")
                                div(class="item-paquete")
                                    div(class="item-paquete-radius-white")
                                        div(class="contenedor-titulo-paquete") 
                                            span(class="titulo-paquete titulo-paquete-center") 
                                                span WEB
                                                div(class="txt-destacado") DESTACADO
                                                div(class="triangle-left")
                                                div(class="triangle-right")
                                        div(class="contendido-item-paquete contendido-item-paquete-izquierda")
                                            div(class="gallito-title")
                                                span(class="text-gallito") gallito
                                                span(class="text-com") .com
                                            ul
                                                li 
                                                    span(class="text-gray-paquete") 7 días como destacado.
                                                li
                                                    span(class="text-gray-paquete") Aviso publicado por 30 días.
                                            div(class="precio-paquete precio-paquete-center") $1000
                                        div(class="align-center-btn")
                                            a(href="#" class="btn-paquete") Publicar Ya
                        div(class="item")
                            div(class="contenedor-paquetes-gallito")
                                div(class="item-paquete")
                                    div(class="item-paquete-radius-white")
                                        div(class="contenedor-titulo-paquete") 
                                            span(class="titulo-paquete titulo-paquete-center") 
                                                span WEB
                                                div(class="txt-destacado") + PAPEL
                                                div(class="triangle-left")
                                                div(class="triangle-right")
                                        div(class="contendido-item-paquete")
                                            div(class="gallito-title")
                                                span(class="text-gallito") gallito
                                                span(class="text-com") .com
                                            ul
                                                li 
                                                    span(class="text-gray-paquete") 1 domingo en papel.
                                                li
                                                    span(class="text-gray-paquete") Aviso publicado por 30 días.
                                            div(class="precio-paquete precio-paquete-center") $600
                                        div(class="align-center-btn")
                                            a(href="#" class="btn-paquete") Publicar Ya
    div(class="cl-blue-dark") Conocé nuestros paquete y abonos para empresas
    div(class="cl-blue-light") Conacte y conocé nuesrtros planes especiales
//************** paquete gallito **************//
