//************** header gallitoDashboard **************//
extends ./layout.jade
block content
    - rutaImagenes ='../../../imagenes'
    header(class="relative headerDashboard")
        div(class="gallito-icon")
            a(href="#")
                span(class="gallito-icon-title") gallito
                span(class="gallito-icon-com") .com
            span(class="borde-left-white") Postulante
        div(class="gallito-register-container")
            span(class="text-welcome") Bienvenido(a): Carla Paola
            div(class="gallito-register-text inline-block-middle")
                a(class="gallito-text-blue" href="#") Cerrar Sesión
                a(class="gallito-text-white" href="#")  Soy una empresa
//************** header gallitoDashboard **************//
